
.archive {
  text-align: center;

  .archive_search {
    width: 50%;
    margin: 0 auto;

    .display(flex);

    .archive_search_btn {
      display: block;
      height: 32px;
      padding: 8px 24px 8px 16px;
      text-align: center;
      margin-left: 16px;
    }
  }

  .archive_messages {
    position: relative;

    padding: 16px 16px 48px;

    .archive_messages_i {
      padding: 4px 8px;

      .display(flex);

      .archive_messages_i_date {
        white-space: nowrap;

        color: lighten(@black, 10%);

        font-size: 14px;

        .flex(0 0 auto);
      }

      .archive_messages_i_name {
        margin-bottom: 3px;
        margin-left: 8px;

        white-space: nowrap;

        color: @black;

        font-size: 14px;
        font-weight: 600;

        .flex(0 0 auto);
      }

      .archive_messages_i_txt {
        margin-left: 16px;

        color: #656769;

        font-size: 16px;
      }
    }
  }

}
