@chat_width: 85%;

.chat {
  position: absolute;
  z-index: 1;

  display: block;

  padding-top: @header_height + @help_place_height;
  min-height: 100%;
  width: @chat_width;

  background: white;

  .BoxShadowHelper(3);

  @media @hs, @sm, @md {
    width: @chat_width - 15;
  }

  .chat_messages {
    position: relative;

    padding: 16px 16px 128px;

    .chat_messages_i {
      padding: 4px 8px;

      .display(flex);

      .chat_messages_i_date {
        white-space: nowrap;

        color: lighten(@black, 10%);

        font-size: 14px;

        .flex(0 0 auto);
      }

      .chat_messages_i_name {
        margin-bottom: 3px;
        margin-left: 8px;

        white-space: nowrap;

        color: @black;

        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        .flex(0 0 auto);
      }

      .chat_messages_i_txt {
        margin-left: 16px;

        color: #656769;
        word-wrap: break-word;

        font-size: 16px;
        width: 100%;

        hr {

        }
      }
    }
  }

  .chat_form {
    position: fixed;
    bottom: 0;
    left: 0;

    width: @chat_width;
    height: 64px;
    padding: 0 24px;

    border-top: 1px solid @medium-gray;
    background: #f1f1f1;

    @media @hs, @sm, @md {
      width: @chat_width - 15;
    }

    .chat_form_cnt {
      position: relative;

      height: 100%;

      .chat_form_cnt_it {
        position: absolute;
        top: 16px;
        bottom: 16px;

        display: block;

        width: 100%;
        height: auto;
        //        margin-top: 15px;
        min-height: 32px;
        padding: 7px 16px;

        resize: none;

        border: 1px solid @medium-gray;
        background: white;

        .border-radius(4px);
      }
      .chat_form_cnt_smile-btn {
        position: absolute;
        z-index: 2;
        top: 17px;
        right: 0;

        width: 42px;
        height: 30px;
        padding: 0 12px;

        color: #337dbd;
        background: transparent;
        .border-radius(0 4px 4px 0);

        i {
          color: #337dbd;

          font-size: 18px;
        }

        &:hover {
          background: @medium-gray !important;

          i {
            color: lighten(#337dbd, 20%);
          }
        }
      }
    }
  }
}
