@header_height: 128px;
@help_place_height: 66px;

.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 3;

  display: block;

  height: @header_height;

  background-color: white;

  text-align: center;

  .box-shadow(0, 1, 1, rgba(0, 0, 0, .3));

  .header_t {
    position: relative;

    display: inline-block;
    overflow: hidden;

    height: @header_height/2;
    margin: 0;
    padding: 0 24px;

    list-style: none;

    text-align: left;
    text-overflow: ellipsis;

    color: @black;

    font-size: 16px;
    font-weight: 600;
    line-height: @header_height/2;

    .logo {
      margin-right: 16px;

      font-size: 20px;
      font-weight: 600;
    }
  }
  .header_second {
    height: @header_height/2;

    color: @black;

    .display(flex);
    .justify-content(center);
    .align-items(cetner);

    .header_second_i {
      margin-left: 24px;
      font-size: 18px;

      .display(flex);
      .justify-content(center);
      .align-items(center);

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        text-decoration: underline;
      }

      &.__notices {
        position: relative;
        cursor: pointer;

        .__notices_count {
          position: absolute;
          top: 16px;
          left: 12px;

          display: block;

          width: 14px;
          height: 14px;

          cursor: pointer;
          text-align: center;

          color: white;
          background: @orange;

          font-size: 12px;

          .border-radius(4px);
          .animation(blink 1s ease-in-out infinite);

          &.__hide {
            display: none;
          }
        }
        .__notices_l {
          margin-left: 8px;

          color: @blue;
        }

        &:hover {
          color: black;
        }
      }

      &.__user {
        .display(flex);

        position: relative;

        .display(flex);
        .align-items(center);

        .__user_ava {
          display: block;

          width: 30px;
          height: 30px;
        }
        .__user_l {
          margin-left: 8px;

          font-size: 18px;
        }

      }
      &.__archive {
        position: absolute;
        right: 24px;
        line-height: @header_height/2;
        font-size: 13px;
        color: @medium-black;
      }

    }

    .header_second_auth {
      .header_second_auth_a {
        display: inline-block;

        padding: 0 16px;

        color: @black;

        line-height: @header_height/2;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.help_place {
  position: fixed;
  top: @header_height;
  left: 0;
  z-index: 2;
  overflow: hidden;
  padding: 8px 24px;

  width: @chat_width;
  height: @help_place_height;

  border: 1px solid @medium-gray;
  background: #f1f1f1;
  color: #337dbd;

  @media @hs, @sm, @md {
    width: @chat_width - 15;
  }

  p {
    color: #337dbd;
  }
}

@-webkit-keyframes blink {
  50% {
    background: @orange;
  }
  51% {
    background: darken(@orange, 10%);
  }
  100% {
    background: darken(@orange, 20%);
  }
}

@keyframes blink {
  50% {
    background: @orange;
  }
  51% {
    background: darken(@orange, 10%);
  }
  100% {
    background: darken(@orange, 20%);
  }
}