.mgr {
  // manager
  position: relative;
  margin-top: 164px;
  margin-bottom: 64px;
  padding: 0 24px;

  .mgr_photo {
    position: absolute;
    top: -110px;
    width: 220px;
    height: 220px;
    border: 2px solid @orange;
    &:extend(.hcenter);
    .border-radius(50%);
    display: block;
  }
  .mgr_t {
    // title
    text-align: center;
    padding-top: 128px;
  }
  .mgr_b {
    // body

    .display(flex);
    .justify-content(space-between);

    .mgr_b_l {
      // left
      width: 50%;

      .mgr_b_l_contacts {
        list-style: none;
        padding: 0;

        .mgr_b_l_contacts_i {
          color: @medium-black;
          padding-bottom: 5px;

          .mgr_b_l_contacts_i_a {
            color: @medium-black;
            .transition(color 0.08s);

            &:hover {
              color: @blue;
              text-decoration: underline;
            }
          }
        }
      }

    }
    .mgr_b_r {
      width: 50%;;

      // right
      .mgr_b_r_head {
        width: 100%;
        display: block;
        padding: 12px 0 5px;
        text-align: right;
        color: @medium-black;
      }

      .mgr_b_r_about {
        word-wrap: break-word;
      }
    }
  }
  .mgr_f {
    padding: 24px 0;

    .display(flex);
    .justify-content(center);
    .align-content(center);
  }

  @media @hs, @xs {
    padding: 0 16px;
  }
}