.p-form {
  text-align: center;
  .p-form_t {
    font-weight: 400;
    color: @gray;
    margin-top: -6px;
    margin-bottom: 16px;
    a {
      color: @blue;
    }
  }
  .p-form_cnt {
    // container
    margin-top: 20px;
    .p-form_cnt_form {
      // form
      padding: 40px 20px 20px 20px;
      display: block;
      .border-radius(3px);
      .box-shadow(inset 0px 0px 1px 0 #C5C5C5, 0 1px 3px rgba(0, 0, 0, 0.15));
      .p-form_cnt_form_lbtn {
        // left button
        color: @blue;
        text-decoration: none;
        float: left;
        font-size: 15px;
        line-height: 32px;
        margin-top: 10px;
      }
      .p-form_cnt_form_rbtn {
        // right button
        float: right;
        margin-top: 10px;
      }
    }
  }
  .p-form_bottom {
    // bottom text
    color: @blue;
    margin-top: 25px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
  }
}
