.p-navbar {
  left: 0;
  right: 0;
  z-index: 10;
  height: 64px;
  display: block;
  position: relative;
  background-color: @white;
  text-align: center;
  margin-bottom: 64px;
  .box-shadow(0, 1, 1, rgba(0, 0, 0, 0.3));
  .p-navbar_back {
    position: absolute;
    left: 14px;
    line-height: 68px;
    font-size: 24px;
    padding: 0 10px;
    text-decoration: none;
    color: @black;
    z-index: 2;
    @media @hs, @xs {
      line-height: 52px;
      left: 6px;
    }
  }
  .p-navbar_t {
    line-height: 64px;
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0 50px;
    height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    .p-navbar_t_i {
      display: inline-block;
      &:nth-child(n+2) {
        // without first item
        margin-left: 30px;
        position: relative;
        :before {
          &:extend(.mic);
          content: '\e7c3'; // icon arrow
          font-size: 19px;
          position: absolute;
          left: -28px;
          top: 2px;
        }
      }
    }
    @media @hs, @xs {
      line-height: 48px;
      height: 48px;
    }
  }
  .p-navbar_second {
    .p-navbar_date {
      position: absolute;
      right: 24px;
      top: 14px;
      text-align: right;
      .opacity(0.87);
      font-size: 13px;
      :before {
        &:extend(.mic);
        content: '\e7a3'; // icon clock
        font-size: 20px;
        position: absolute;
        left: -33px;
        top: 8px;
        @media @hs, @xs {
          left: -30px;
        }
      }
      .p-navbar_date_start {
        display: block;
        margin-bottom: 6px;
        @media @hs, @xs {
          margin-bottom: 4px;
        }
      }
      .p-navbar_date_end {
        display: block;
      }
      @media @hs, @xs {
        top: 6px;
        right: 16px;
      }
    }
    .p-navbar_second_info {
      position: absolute;
      right: 24px;
      top: 20px;
      text-align: center;
      .opacity(0.87);
      font-size: 13px;
      padding-left: 24px;
      .p-navbar_second_info_ic {
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 16px;
      }
    }
  }
  &.__double {
    @media @hs, @xs {
      .p-navbar_second {
        width: 100%;
        height: 48px;
        position: absolute;
        text-align: center;
        margin: 0;
        padding: 0;
        .p-navbar_date {
          position: relative;
          display: inline-block;
          right: 0;
          left: 0;
        }
        .p-navbar_second_info {
          position: relative;
          display: inline-block;
          right: 0;
          left: 0;
          top: 9px;
        }
      }
    }
  }
  .p-navbar_r {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 1px;
    right: 24px;
    .p-navbar_r_i {
      list-style: none;
      margin: 0;
      padding: 0;
      float: right;
      .p-navbar_r_i_a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: @black;
        float: right;
        font-size: 20px;
        line-height: 64px;
        padding: 0 14px;
        @media @hs, @xs {
          line-height: 48px;
        }
      }
      .p-navbar_r_i_info {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: @black;
        float: right;
        line-height: 64px;
        padding: 0 14px;
        font-weight: 500;
        @media @hs, @xs {
          line-height: 48px;
        }
      }
    }
    @media @hs, @xs {
      right: 16px;
    }
  }
  @media @hs, @xs {
    height: 48px;
    margin-bottom: 48px;
  }
  &.__double {
    @media @hs, @xs {
      height: 96px;
      margin-bottom: 48px;
    }
  }
}
