.p-notify {
  position: fixed;
  z-index: 11;

  margin: 16px 0;
  padding: 16px 24px;

  text-align: center;
  width: 100%;

  .p-notify_window {
    position: relative;

    display: inline-block;

    max-width: 350px;
    padding: 16px 42px 16px 24px;

    background-color: @white;

    .BoxShadowHelper(3);
    .border-radius(2px);
    .p-notify_window_close {
      position: absolute;
      z-index: 1;
      right: 10px;

      margin-top: -1px;

      opacity: 0;
      border: none;
      background: none;

      .transition(opacity .1s linear);
    }
    .p-notify_window_cnt {
    }
    &:hover {
      .p-notify_window_close {
        opacity: 1;
      }
    }
  }
  @media @xs, @hs {
    padding: 0 16px;
  }
}
