.pm {
  .pm_btn-new {
    right: 24px;
    top: -24px;
  }

  .pm_messages {
    margin-top: 48px;

    .pm_messages_i_cnt {
      .pm_messages_i {
        position: relative;

        display: block;

        margin: 0;
        padding: 13px 24px 20px 24px;

        text-decoration: none;

        border-bottom: 1px solid @medium-gray;
        border-left: 0 solid;

        .transition(border .1s);

        .pm_messages_i_head {
          max-width: 80%;

          .display(flex);

          .pm_messages_i_head_i {
            position: relative;

            margin: 0;
            padding: 0;

            text-decoration: none;

            font-size: 15px;

            &:nth-child(n+2) {
              // without first item
              margin-left: 24px;
              position: relative;

              &:before {
                &:extend(.mic);
                content: '\e7c3'; // icon arrow
                font-size: 19px;
                position: absolute;
                left: -20px;
                top: -1px;
                color: @medium-black;
              }
            }
            &:hover {
              text-decoration: underline;
            }
          }

          @media @hs, @xs {
            max-width: 75%;
          }
        }
        .pm_messages_i_t {
          max-width: 80%;
          margin: 0;
          padding: 0;

          text-decoration: none;

          font-size: 15px;

          @media @hs, @xs {
            max-width: 75%;
          }
        }
        .pm_messages_i_text {
          max-width: 80%;
          margin-bottom: 0;

          text-decoration: none;

          color: @medium-black;
        }
        .pm_messages_i_date {
          position: absolute;
          top: 15px;
          right: 24px;

          color: #9e9e9e;

          font-size: 13px;

          @media @hs, @xs {
            top: 41px;
            right: 16px;
          }
        }
        .pm_messages_i_a-reply {
          position: absolute;
          top: 36px;
          right: 24px;

          color: #9e9e9e;
          border: 1px solid @medium-gray;
          outline: none;
          background: transparent;

          font-size: 13px;

          .border-radius(4px);

          @media @hs, @xs {
            right: 16px;
          }
          &:hover {
            color: #4c4c4c;
            border-color: #9e9e9e;
          }
        }
        &:hover {
          border-left: 4px solid @dark-orange;
        }

        @media @hs, @xs {
          padding: 13px 16px 20px 16px;
        }
      }
      .pm_messages_i_cnt_ich {
        display: none;

        &:checked + .pm_messages_i {
          border-left: 4px solid @dark-orange;
        }
      }
    }

    .pm_messages_msg {
      padding: 24px;
      padding-bottom: 64px;
      text-align: center;
    }
  }

  .pm_action {
    padding: 8px 24px;
    .display(flex);
    .justify-content(space-between);
    .align-items(center);

    #select_all_msg {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

    }
  }
  .pm_f {
    text-align: center;
    width: 100%;
    padding: 16px;

    .pager {
      margin: 0;
      padding: 0;
    }
  }

}
