@sidebar_width: 100 - @chat_width;

.sidebar {
  background: white;

  width: @sidebar_width;
  position: fixed;
  right: 0;
  top: @header_height;
  bottom: 0;

  @media @hs, @sm, @md {
    width: @sidebar_width + 15;
  }

  .sidebar_head {
    color: @white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 11px 16px;
    background: @green;
    font-weight: 600;
  }

  .sidebar_contacts {
    overflow-y: auto;
    height: 100%;

    .sidebar_contacts_i {
      min-height: 48px;
      position: relative;
      padding: 0 16px;
      .display(flex);
      .align-items(center);
      .justify-content(flex-start);

      .sidebar_contacts_i_ava {
        height: 100%;
        width: 30px;
        min-width: 30px;
        .align-items(center);
        .display(flex);

        .sidebar_contacts_i_ava_img {
          width: 30px;
          height: 30px;
        }
      }

      .sidebar_contacts_i_mail {
        width: 25px;
        min-width: 25px;
        position: relative;
        margin-left: 16px;
        .display(flex);

        i {
          font-size: 18px;
        }
      }

      .sidebar_contacts_i_body {
        padding: 0 0 0 8px;
        margin-left: 4px;

        //.display(flex);
        //.flex-wrap(wrap);

        .sidebar_contacts_i_name {
          font-size: 14px;
          color: @black;
          margin-bottom: 6px;

        }
        .sidebar_contacts_i_desc {
          font-size: 11px;
          color: #7c8089;
        }
      }

    }
  }
}