{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block title %}Не дает .(с)ру - чат троллей, девественников и лжецов,
    а также профессиольных онананистов-приколистов{% endblock %}

{% block content %}

    <div class="header">
        <h1 class="header_t"><span class="logo">Не дает .(с)ру </span>
            <span style="margin-right: 16px;">–</span>чат троллей, девественников и лжецов,
            а также профессиольных онананистов-приколистов</h1>

        <div class="header_second">
            {% if request.user.is_authenticated and not request.user.is_temp %}

                <a href="{% url 'pm:inbox' %}"
                   class="header_second_i __notices">
                    <i class="mic-mail"></i>
                        <span class="__notices_count __hide" id="notifyCount"
                                >0</span>
                        <span class="__notices_l">
                            Личные сообщения
                        </span>
                </a>
                <a href="{% url 'users:update' request.user.username %}"
                   class="header_second_i __user">
                    <img
                            {% if request.user.avatar %}
                                {% thumbnail request.user.avatar "100x100" crop="center" format="PNG" as im %}
                                    src="{{ im.url }}"
                                {% endthumbnail %}
                            {% else %}
                                    src="{% static 'img/default/no_avatar.png' %}"
                            {% endif %}
                                    class="__user_ava"
                                    height="30" width="30" alt=""/>

                        <span class="__user_l">
                        Мой профайл
                        </span>
                </a>
                <a href="{% url 'authn:logout' %}" class="header_second_i">Выйти</a>
                <a href="{% url 'chat:archive' %}" class="header_second_i __archive">Архив сообщений</a>

            {% else %}

                <div class="header_second_auth">
                    <a class="header_second_auth_a" href="{% url 'authn:login' %}">Войти</a>
                    <a class="header_second_auth_a" href="{% url 'registration:basic' %}">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar_head">Сейчас в чате:</div>
        <div class="sidebar_contacts" id="contactList"></div>
    </div>

    <div class="help_place">
        <p class="help_place_t">
            Прыщавые двественники, омеги, пиздолисы, тролли, хикко-задроты и прочие дегенераты, которым
            больше нехуй делать в свободное время. Это клуб для вас.
            Зайди и проеби еще пару часов свой вонючей жизни.
        </p>
    </div>
    {% if request.user.is_authenticated %}
        <div class="chat" id="chat">

            <div class="chat_messages" id="msgList"></div>

            <div class="chat_form">
                <div class="chat_form_cnt">
                <textarea class="chat_form_cnt_it" id="msgInput"
                          onkeydown="app.chat.c.msgInputKeyDown(event)"
                          type="text" placeholder="Введите сообщение"></textarea>
                    <button class="chat_form_cnt_smile-btn btn"
                            onclick="app.chat.c.msgBtnSendClick(event)"
                            id="msgSendBtn"
                            title="Перенос строки: ctrl + enter. Для разметки используйте Markdown синтаксис. Например: **Привет**, будет жирным">
                        <i class="mic-send"></i></button>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js_footer %}


{% endblock %}