{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}Архив сообщений |{% endblock %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="{% url "chat:chat" %}">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Архив сообщений</h4>
            </li>
        </ul>

    </div>
    <!-- End p-navbar -->

    <div class="archive cnt __bg __padding">
        <div class="archive_search">

            <div class="minput">
                <input type="text" placeholder="Что ищем?"
                       class="archive_search_it"
                       id="searchIT"
                        />

                <span class="minput_highlight"></span>
                <span class="minput_bar"></span>
                <label>
                    Поиск

                    {% if field.help_text %}
                        (ищем по тексту)
                    {% endif %}
                </label>
            </div>

            <button class="archive_search_btn btn __raised __colored"
                    onclick="nav.go('archive?q=' + ge('searchIT').value, false, true);"
                    >Найти
            </button>
        </div>
        <div class="archive_messages">
            {% for message in object_list %}
                <div class="archive_messages_i">
                    <div class="archive_messages_i_date">
                        {{ message.created }}
                    </div>
                    <div class="archive_messages_i_name">
                        {{ message.user.username }}
                    </div>
                    <div class="archive_messages_i_txt">
                        {{ message.text }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'core/paginator.html' %}
    </div>

{% endblock %}

{% block vanilla %}
    <script type="text/javascript">
        var q = getQueryVar("q");
        if (q) {
            ge('searchIT').value = q;
        }
    </script>
{% endblock %}

{% block js_footer %}
{% endblock %}

