<div class="cnt-tabs">
    <div class="cnt-tabs_i
    {% if 'pm/all' in request.path %}__active{% endif %}
    ">
        <a href="{% url 'pm:all' %}" class="cnt-tabs_i_a">
            Все
        </a>
    </div>
    <div class="cnt-tabs_i
    {% if request.path == '/pm' %}__active{% endif %}">
        <a href="{% url 'pm:inbox' %}" class="cnt-tabs_i_a">
            Входящие
        </a>
    </div>
    <div class="cnt-tabs_i
    {% if '/pm/outbox' in request.path %}__active{% endif %}">
        <a href="{% url 'pm:outbox' %}" class="cnt-tabs_i_a">
            Исходящие
        </a>
    </div>
</div>