{% url 'registration:confirm' user.pk user.activation_code as url %}
<h1>Поздравляем</h1>

<p>
    Вы успешно зарегистрировались на {{ site.name }}.
</p>

<p>
    Для того чтобы подтвердить регистрацию перейдите по ссылке:
    http://{{ site.domain }}{{ url }}
</p>

<p>
    Для входа в личный кабинет используйте:
</p>

<ul>
    <li>Логин: {{ user.username }}</li>
    <li>Пароль: {{ password }}</li>
</ul>
