<p>На вас зарегистрирован новый пользователь.</p>

<p>
    Вы можете просмотреть его профиль:
    <a href="http://{{ site.domain }}{% url 'admin:users_user_change' user.pk %}">
        http://{{ site.domain }}{% url 'admin:users_user_change' user.pk %}
    </a>
</p>
