<p>На вас зарегистрированы новые пользователи.</p>

<p>Ссылки на их профили:</p>
<ul>
{% for user in users %}
<li>
    <a href="http://{{ site.domain }}{% url 'admin:users_user_change' user.pk %}">
        http://{{ site.domain }}{% url 'admin:users_user_change' user.pk %}
    </a>
</li>
{% endfor %}
</ul>
