<p>
    Ваша регистрация на на «{{ order.course.get_product_display }}: {{ order.course.title }}»
    {{ order.get_learning_display }} доступ оплачена.
</p>

<p>
    Вы можете начать обучение войдя в личный кабинет:
    <a href="http://{{ site.domain }}{% url 'authn:login' %}">
        http://{{ site.domain }}{% url 'authn:login' %}
    </a>
</p>
