<p>
    Имя Вашего личного менеджера - {{ manager }}
</p>

<p>
    Оцените, пожалуйста, работу Вашего менеджера в личном кабинете - 
    <a href="http://{{ site.domain }}/manager/">
        http://{{ site.domain }}/manager/
    </a>
</p>

<p>
    Это помогает нам контролировать уровень сервиса и делать Ваше обучение максимально комфортным. Спасибо!
</p>
