Заполнение профиля «{{ user_obj }}».
<ul>
    <li>
        Email: {{ user_obj.email }}
    </li>
    <li>
        Курс: {{ user_obj.course }}
    </li>
    <li>
        Имя: {{ user_obj.first_name }}
    </li>
    <li>
        Фамилия: {{ user_obj.last_name }}
    </li>
    <li>
        Телефон: {{ user_obj.phone }}
    </li>
    <li>
        Город: {{ user_obj.city }}
    </li>
    <li>
        Организация: {{ user_obj.organization }}
    </li>
    <li>
        ИНН: {{ user_obj.inn }}
    </li>
    <li>
        Должность: {{ user_obj.office }}
    </li>
    <li>
        Вид деятельности: {{ user_obj.activity }}
    </li>
    <li>
        Вид поднадзорной организации: {{ user_obj.subsupervising }}
    </li>
    <li>
        Юридический адрес: {{ user_obj.address }}
    </li>
    <li>
        Код региона: {{ user_obj.region }}
    </li>
    <li>
        {% url 'admin:users_user_change' user_obj.pk as profile %}
        Профиль:
        <a href="http://{{ site.domain }}{{ profile }}">
            http://{{ site.domain }}{{ profile }}
        </a>
    </li>
</ul>
