{% extends 'password/base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="{% url "users:update" request.user.pk %}">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Смена пароля</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __bg __hs __padding">

        <form class="p-form" action="{{ request.get_full_path }}" method="post">
            {% include 'include/form.html' %}

            <button class="btn __raised __colored shadow-1 fr">Сменить</button>
            <button class="btn fr">Отмена</button>
            <div class="clearfix"></div>
        </form>

    </div>
    <!-- End cnt -->

{% endblock %}

{% block vanilla %}
{% endblock %}

{% block js_footer %}
{% endblock %}

