{% extends 'password/base.html' %}


{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Подтверждение сброса</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <div class="cnt __bg __hs __padding">

        На указанный адрес email выслано письмо с подтверждением сброса пароля.

        Пожалуйста, следуйте инструкциям указанным в письме.
    </div>
{% endblock %}
