{% extends 'password/base.html' %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Создайте Ваш новый пароль</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __bg __hs __padding">

        <form class="p-form" action="{{ request.get_full_path }}" method="post">
            {% include 'include/form.html' %}

            <button class="btn __raised __colored shadow-1 fr">Сменить</button>
            <div class="clearfix"></div>
        </form>

    </div>
    <!-- End cnt -->
{% endblock %}


{% block title %}Создайте Ваш новый пароль{% endblock %}
