{% extends 'password/base.html' %}


{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Ваш новый пароль создан</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <div class="cnt __bg __hs __padding">

        <b>Новый пароль успешно создан.</b> Используте
        <a href="{% url 'authn:login' %}">форму для входа</a>
        в личный кабинет.
    </div>
{% endblock %}


{% block title %}Ваш новый пароль{% endblock %}