{#{% extends 'base_email_simple.html' %}#}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <p>Кто-то, возможно это были Вы, указал данный адрес электронной почты для
        восстановления доступа к сайту {{ site.name }}. Если Вы этого не
        делали,
        то просто проигнорируйте это письмо.</p>

    <p>Для сброса старого пароля и создания нового пройдите по ссылке:</p>

    {% url 'password:confirm' user.pk user.reset_code as link %}
    <p>
        <a href="http://{{ site.domain }}{{ link }}">
            http://{{ site.domain }}{{ link }}
        </a>
    </p>
{% endblock %}
