{% extends 'password/base.html' %}

{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Сброс пароля от вашего аккаунта</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __hs __center">

        <div class="__bg __padding">
            <form class="p-form" action="{{ request.get_full_path }}" method="post">
                {% include 'include/form.html' %}

                <button class="btn __raised __colored shadow-1 fr">Сменить</button>
                <a class="btn fr" href="{% url 'authn:login' %}">Вспомнили?</a>

                <div class="clearfix"></div>
            </form>
            <div class="clearfix"></div>
        </div>

        <a style="padding-top: 24px;display: block;" href="{% url 'registration:basic' %}">Создать аккаунт</a>
    </div>
    <!-- End cnt -->
{% endblock %}
