{% load field_attributes core_tags thumbnail staticfiles %}

{% for field in form.visible_fields %}

    {% if field|is_widget:"CheckboxInput" %}

        <label class="mcheckbox">
            {{ field }}
            {{ field.field.label }}
        </label>

        {% for error in field.errors %}
            <span class="help-inline">
                    {{ field.errors }}
               </span>
        {% endfor %}

    {% elif field|is_widget:"CheckboxSelectMultiple" %}

        {% for input in field %}
            <label class="mcheckbox">
                {{ input.tag }}
                {{ input.choice_label }}
            </label>
        {% endfor %}
        {% for error in field.errors %}
            <span class="help-inline">
                    {{ field.errors }}
               </span>
        {% endfor %}

    {% elif field|is_widget:"Select" %}

        <div class="mselect {% if field.errors %}__error{% endif %}" tabindex="1">
            {% if field.field.required %}
                {% field field %}
            {% else %}
                {{ field }}
            {% endif %}

            <span class="mselect_highlight"></span>
            <span class="mselect_bar"></span>

            <label>
                {{ field.field.label }}

                {% if field.help_text %}
                    ({{ field.help_text }})
                {% endif %}

                {% if field.field.required %} *{% endif %}
            </label>

            {% for error in field.errors %}
                <span class="mselect_errors">{{ field.errors }}</span>
            {% endfor %}
        </div>

    {% elif field|is_widget:"Textarea" %}

        <div class="minput
            {% if field.errors %}__error{% endif %}">

            {% if field.field.required %}
                {% field field required="required" cols=0 rows=1 onclick="app.utils.txaAutoSize(this)" %}
            {% else %}
                {% field field cols=0 rows=1 onclick="app.utils.txaAutoSize(this)" %}
            {% endif %}

            <span class="minput_highlight"></span>
            <span class="minput_bar"></span>
            <label>
                {{ field.field.label }}

                {% if field.help_text %}
                    ({{ field.help_text }})
                {% endif %}

                {% if field.field.required %} *{% endif %}
            </label>

            {% for error in field.errors %}
                <span class="minput_errors">{{ field.errors }}</span>
            {% endfor %}
        </div>

    {% elif field|is_widget:"ClearableFileInput" %}
        <div class="minputfile
            {% if field.errors %}__error{% endif %}">

            <div class="minputfile_field">
                <button class="btn __colored __raised"
                        onclick="ge('id_{{ field.name }}').click();"
                        >Выбрать {{ field.field.label }}
                    {% if field.field.required %} *{% endif %}</button>

                <img id="minputfile_{{ field.name }}" class="minputfile_field_photo"
                        {% if field.value %}
                            {% thumbnail field.value "100x100" format="PNG" crop="center" as im %}
                     src="{{ im.url }}"
                            {% endthumbnail %}
                        {% else %}
                     src="{% static 'img/default/no_avatar.png' %}"
                        {% endif %}
                     alt=""/>
            </div>

            <div class="minputfile_hidden">
                {% field field onchange="update_photo(this, event)" %}
            </div>

            <label>
                {% if field.help_text %}
                    ({{ field.help_text }})
                {% endif %}
            </label>

            {% for error in field.errors %}
                <span class="minputfile_errors">{{ field.errors }}</span>
            {% endfor %}

            <script type="text/javascript">
                function update_photo(el, e) {
                    var name = el.getAttribute('name');

                    if (el.files && el.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            ge('minputfile_' + name).src = e.target.result
                        };
                        reader.readAsDataURL(el.files[0]);
                    }
                }
            </script>
        </div>

    {% elif field|is_widget:"SplitDateTimeWidget" %}

        <div class="minputsdt">

            <div class="minputsdt_i {% if field.errors %}__error{% endif %}">
                <input type="date" name="{{ field.name }}_0" value="{{ field|get_split_value:0 }}"/>
                <span class="minputsdt_highlight"></span>
                <span class="minputsdt_bar"></span>
                <label>
                    {{ field.field.label }}

                    {% if field.help_text %}
                        ({{ field.help_text }})
                    {% endif %}

                    {% if field.field.required %} *{% endif %}
                </label>

                {% for error in field.errors %}
                    <span class="minputsdt_i_errors">{{ field.errors }}</span>
                {% endfor %}

            </div>

            <div class="minputsdt_i {% if field.errors %}__error{% endif %}">
                <input type="time" name="{{ field.name }}_1" value="{{ field|get_split_value:1 }}"/>
                <span class="minputsdt_highlight"></span>
                <span class="minputsdt_bar"></span>
                <label>
                    Время

                    {% if field.field.required %} *{% endif %}
                </label>

                {% for error in field.errors %}
                    <span class="minputsdt_i_errors">{{ field.errors }}</span>
                {% endfor %}

            </div>
            <div class="clearfix"></div>
        </div>

    {% else %}

        <div class="minput
            {% if field.errors %}__error{% endif %}">

            {% if field.field.required %}
                {% field field required="required" %}
            {% else %}
                {{ field }}
            {% endif %}

            <span class="minput_highlight"></span>
            <span class="minput_bar"></span>
            <label>
                {{ field.field.label }}

                {% if field.help_text %}
                    ({{ field.help_text }})
                {% endif %}

                {% if field.field.required %} *{% endif %}
            </label>

            {% for error in field.errors %}
                <span class="minput_errors">{{ field.errors }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}

{% if form.non_field_errors %}
    <div class="form-err">
        {% if form.non_field_errors|length_is:"1" %}
            {{ form.non_field_errors.0 }}
        {% else %}
            {{ form.non_field_errors }}
        {% endif %}
    </div>
{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}
{% csrf_token %}

<input type="hidden" name="next" value="{{ next }}"/>
<script type="text/javascript"></script>
