{% if messages %}
    <!-- Begin cnt -->
    <div class="cnt __md __mb0">
        <!-- Start p-notify -->
        <div class="p-notify">

            <div class="p-notify_window">
                <button type="button" onclick="hide(geByClass1('p-notify'));"
                        class="p-notify_window_close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="p-notify_window_cnt">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- End p-notify -->
    </div>
    <!-- End cnt -->
{% endif %}