{% extends 'base_email_simple.html' %}


{% block title %}Активация аккаунта{% endblock %}


{% block content %}
    <p>Ваш аккаунт не был активирован.</p>

    <p>
        Для активации аккаунта перейдите по ссылке:
        <a href="https://{{ site.domain }}{{ user.get_activation_link }}">
            https://{{ site.domain }}{{ user.get_activation_link }}
        </a>
    </p>

    <p>Логин и пароль для входа был выслан Вам в письме после регистрации.</p>
{% endblock %}
