{% extends 'base.html' %}

{% block title %}Template Yanple project{% endblock %}

{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Template Yanple project</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __bg __hs __padding __center">

        <i class="mic-favorite-outline __txt-orange" style="margin-left: 20px;font-size: 60px;"></i>

        <h3>Привет, я молодец, а ты?</h3>
        {% if request.user.is_authenticated %}
            <h4>Мое имя <a href="{% url 'users:update' request.user.pk %}">{{ request.user.get_short_name }}</a></h4>
        {% endif %}

    </div>
    <!-- End cnt -->
{% endblock %}