.__link {
  text-decoration: underline;
  color: @blue;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: @blue;
  }
}

.__fsz14 {
  font-size: 14px;
}

.__fsz13 {
  font-size: 13px;
}

.__fsz12 {
  font-size: 12px;
}

.__fsz11 {
  font-size: 11px;
}

.__underline {
  text-decoration: underline;
}

.__fr {
  float: right;
}

.__fl {
  float: left;
}

.__tx_blue {
  color: @blue;
}

.__tx_red {
  color: @red;
}

.__tx_green {
  color: @green;
}

.__tx_center {
  text-align: center;
}

.__dinb {
  display: inline-block;
}

.__db {
  display: block;
}

.__mt8 {
  margin-top: 8px;
}

.__mt16 {
  margin-top: 16px;
}

.__mt24 {
  margin-top: 24px;
}

.__mt32 {
  margin-top: 32px;
}

.__mb8 {
  margin-bottom: 8px;
}

.__mb16 {
  margin-bottom: 16px;
}

.__mb24 {
  margin-bottom: 24px;
}

.__mb32 {
  margin-bottom: 32px;
}

.__mb64 {
  margin-bottom: 32px;
}

.__mb64 {
  margin-bottom: 64px;
}

.__ml32 {
  margin-left: 32px;
}

.__mr32 {
  margin-right: 32px;
}
