{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}Входящие сообщения |{% endblock %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="{% url "chat:chat" %}">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Входящие сообщения</h4>
            </li>
        </ul>

    </div>
    <!-- End p-navbar -->

    <div class="pm cnt __bg __sm">
        {% include "pm/include/_tabs.html" %}

        <a href="{% url 'pm:new' %}"
           class="pm_btn-new
                  btn __raised __colored __floated shadow-1 fr">
            <i class="btn_ic mic-add"></i>
        </a>

        <form action="{% url 'pm:delete' %}" method="POST">{% csrf_token %}
            <div class="pm_messages">

                {% for message in object_list %}
                    <!-- Begin pm_messages_i -->
                    <div class="pm_messages_i_cnt"
                         title="Кликните, чтобы отметить">
                        <input type="checkbox" id="msgCheck{{ message.id }}"
                               class="pm_messages_i_cnt_ich"
                               name="delete_messages"
                               value="{{ message.id }}"/>

                        <label class="pm_messages_i" for="msgCheck{{ message.id }}">

                            <div class="pm_messages_i_head">
                                <a href="{% url 'users:detail' message.sender %}"
                                   class="pm_messages_i_head_i">{{ message.sender }}</a>
                                <a href="{% url 'users:detail' message.recipient %}"
                                   class="pm_messages_i_head_i">{{ message.recipient }}</a>
                            </div>

                            <h4 class="pm_messages_i_t">
                                {{ message.subject }}
                            </h4>

                            <p class="pm_messages_i_text">{{ message.text }}</p>

                            <p class="pm_messages_i_date">{{ message.created }}</p>
                            {% if message.sender != request.user %}
                                <button
                                        onclick="nav.go('{% url 'pm:new_to' message.sender.username %}', false, true);event.preventDefault();"
                                        class="pm_messages_i_a-reply">Ответить
                                </button>
                            {% endif %}
                        </label>
                    </div>
                    <!-- End pm_messages_i -->
                    {% empty %}
                    <h3 class="pm_messages_msg">Пока нет сообщений</h3>
                {% endfor %}

            </div>
            {% if object_list %}
                <div class="pm_action">
                    <button class="btn" id="select_all_msg"
                            onclick="selectAll(this); event.preventDefault()">Выделить все
                    </button>
                    <button type="submit" class="btn __colored __raised">Удалить выделенные</button>
                </div>
            {% endif %}
        </form>

        <div class="pm_f">
            {% include 'core/paginator.html' %}
        </div>
    </div>

{% endblock %}

{% block vanilla %}
    <script type="text/javascript">
        function selectAll(el) {
            var inputs = geByClass('pm_messages_i_cnt_ich');

            if (!hasClass(el, '__selected')) {
                each(inputs, function (i, ich) {
                    ich.setAttribute('checked', 'checked');
                });
                addClass(el, '__selected');
            } else {
                each(inputs, function (i, ich) {
                    ich.removeAttribute('checked');
                });
                removeClass(el, '__selected');
            }
        }
    </script>
{% endblock %}

{% block js_footer %}
{% endblock %}

