{% extends 'base.html' %}

{% block title %}Мой профиль |{% endblock %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="{% url "chat:chat" %}">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Мой профиль</h4>
            </li>
        </ul>
        <ul class="p-navbar_r">
            <li class="p-navbar_r_i">
                <a href="{% url "password:change" %}"
                   title="Просмотреть профиль"
                   class="p-navbar_r_i_a">
                    <i class="mic-lock"></i></a>
            </li>
            <li class="p-navbar_r_i">
                <a href="{% url "users:detail" request.user.username %}"
                   title="Сменить пароль"
                   class="p-navbar_r_i_a"
                        ><i class="mic-person"></i></a>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __bg __hs __padding">

        <form class="p-form" method="post" enctype="multipart/form-data">
            {% include 'include/form.html' %}

            <button class="btn __raised __colored shadow-1 fr">Сохранить</button>
            <button class="btn fr">Отмена</button>
            <div class="clearfix"></div>
        </form>

    </div>
    <!-- End cnt -->

{% endblock %}

{% block vanilla %}
{% endblock %}

{% block js_footer %}
{% endblock %}

