{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}Профиль пользователя {{ object.get_full_name }} |{% endblock %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="{% url "chat:chat" %}">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Профиль пользователя <b>{{ object.get_full_name }}</b></h4>
            </li>
        </ul>
        <ul class="p-navbar_r">
            <li class="p-navbar_r_i">
                <a href="{% url "users:update" request.user.username %}"
                   title="Изменить профиль"
                   class="p-navbar_r_i_a"
                        ><i class="mic-edit"></i></a>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin mgr -->
    <div class="mgr cnt __bg __xhs">
        {% thumbnail user.avatar "440x440" crop="center" as im %}
            <img class="mgr_photo" src="{{ im.url }}"/>
            {% empty %}
            <img src="{{ STATIC_URL }}img/default/no_avatar.png"
                 class="mgr_photo">
        {% endthumbnail %}

        <h3 class="mgr_t">{{ user.manager.user.get_full_name }}</h3>

        <div class="mgr_b">
            <div class="mgr_b_l">
                <ul class="mgr_b_l_contacts">
                    {% if object.first_name %}
                        <li class="mgr_b_l_contacts_i" title="Имя">
                            Имя: {{ object.first_name }}
                        </li>
                    {% endif %}

                    <li class="mgr_b_l_contacts_i" title="Дата регистрации">
                        Дата регистрации: {{ object.date_joined }}
                    </li>

                    <li class="mgr_b_l_contacts_i" title="Последний визит">
                        Последний визит: {{ object.last_login }}
                    </li>
                </ul>
            </div>
            <div class="mgr_b_r">
                <div class="mgr_b_r_head">
                    Обо мне
                </div>
                <div class="mgr_b_r_about">
                    {{ object.about }}
                </div>
            </div>
        </div>
        <div class="mgr_f">
            {% if user != request.user %}
                <a href="{% url 'pm:new_to' user.username %}" class="btn __colored __raised">Отправить личное сообщение</a>
            {% endif %}
        </div>
    </div>
    <!-- End mgr -->

{% endblock %}

{% block vanilla %}
{% endblock %}

{% block js_footer %}
{% endblock %}

