{% extends 'base.html' %}

{% block title %}404 - это страницы не существует Project Name{% endblock %}

{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>404 - страница не существует</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __bg __hs __padding __center">

        <i class="mic-mood __txt-orange" style="margin-left: 20px;font-size: 60px;"></i>
        <h3>Жаль.. Боль... Печаль..
        </h3>

    </div>
    <!-- End cnt -->
{% endblock %}