<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
{% load staticfiles compress %}
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}
        Не дает .(с)ру - чат троллей, девественников и лжецов,
        а также профессиольных онананистов-приколистов
    </title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,400,300,700&subset=latin,cyrillic-ext'
          rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
    {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    {% endcompress %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var yan = {
            id: 1,
            version: 1,
            host: '{{ request.META.HTTP_HOST }}',
            time: [{% now "Y, m, j, H, i, s" %}],
            csrftoken: '{{ csrf_token }}',
            user_is_auth: {{ request.user.is_authenticated|lower }},
            chat: {
                host: location.hostname,
                port: '{{ socket_port }}',
                channel: '{{ socket_channel }}'
            }
        };

        window.locDomain = yan.host;
        var _ua = navigator.userAgent.toLowerCase();
    </script>
    {% compress js %}
        <script src="{{ STATIC_URL }}js/libs/yanple.js"></script>
    {% endcompress %}


    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

<body class="{% block body_class %}{% endblock %}">

<div id="utils">
    <script>domStarted();</script>
    <div id="system_msg"></div>
</div>

{% include 'include/messages.html' %}

<!-- Begin w -->
<div class="w" id="w">
    {% block content %}{% endblock %}
    <!-- Begin page_body -->
    <div id="page_body">
        {% block page_body %}{% endblock %}
    </div>
    <!-- End page_body -->
</div>
<!-- End w -->

<!-- Begin Vanilla -->
<script>domReady();</script>

{% compress js %}
    <script src="{% static 'js/libs/fastclick.js' %}"></script>
    {#    <script src="{% static 'js/libs/micromarkdown.js' %}"></script>#}
    <script src="{% static 'js/libs/sockjs.min.js' %}"></script>
{% endcompress %}

<script src="{% static 'js/b/project.js' %}"></script>

{% block vanilla %}{% endblock %}
<!-- End Vanilla -->

<!-- Begin Slow -->
{#<script src="{{ STATIC_URL }}js/libs/jquery-2.1.1.min.js"></script>#}
{#<script src="{{ STATIC_URL }}js/libs/bootstrap.dropdown.js"></script>#}
{#<script src="{{ STATIC_URL }}js/libs/bootstrap.modal.js"></script>#}

{{ form.media }}
{% block js_footer %}{% endblock %}
<!-- End Slow -->

{% include 'include/analytics.html' %}
</body>
</html>