html, body {
//  display: block;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Roboto Condensed", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Arial", verdana, sans-serif;
  //  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  color: #000;
  font-size: 14px;

  @media @md, @lg  {
    font-size: 15px;
  }
}

body {
  background: @light-gray;

  &.__bg-black {
    background: @blue-black;
  }
}

a {
  color: @blue;
  text-decoration: none;
}

* {
  .box-sizing(border-box);
}

.w {
  // wrapper

  display: block;
  left: 0;
  top: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  position: absolute;
}

.__bg {
  background-color: @white;
  .BoxShadowHelper(1);
  .border-radius(2px);
}

.fr {
  float: right;
}

.fl {
  float: left;
}

&.__padding {
  padding: 34px 24px;

  @media @xs, @hs {
    padding: 35px 16px;
  }
}