/* Buttons */


.btn {
  position: relative;
  display: inline-block;
  // width: @button-width;
  overflow: hidden;
  padding: 9px 24px;
  outline: none;
  border-radius: 3px;
  background: transparent;
  color: @black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  .transition(opacity 0.24s, color 0.12s, background-color 0.12s);
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
.btn button, .btn input[type="submit"] {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: @black;
  text-transform: uppercase;
  font-size: 1em;
}
.btn.__colored, .btn.__colored button {
  color: @blue;
}
.btn.__raised.__colored .btn_ripple {
  background-color: fade(@white, 50%);
}
.btn.__raised .btn_ripple {
  background-color: fade(@gray, 50%);
}
.btn.__raised.__colored {
  background-color: @blue;
}
.btn .__raised {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.btn.__raised.__colored {
  background: @blue;
  color: #fff;
}
.btn:hover {
  background-color: #EAEAEA !important;
}
.btn.__raised.__colored:hover {
  background-color: darken(@blue, 5%) !important;
}

.btn.__raised.__colored:active {
  background-color: darken(@blue, 15%) !important;
}
.btn {
  border: 0;
  background-color: @white;
}
.btn input[type="submit"] {
  outline-color: @gray;
}
.btn.__colored.__raised input[type="submit"] {
  color: @white;
}
.btn.__colored.__raised .yellow-ripple {
  background-color: #ffff00;
}
.btn[disabled], .btn[disabled]:hover, .btn[disabled].__raised.__colored:hover {
  background-color: #EAEAEA !important;
  color: #A8A8A8 !important;
  cursor: default;
}
.btn[disabled] .btn_ripple {
  display: none;
}
.btn.__floated {
  margin: auto;
  padding: 0;
  width: 56px;
  height: 56px;
  border: none;
  z-index: 2;
  border-radius: 50%;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
  font-size: 24px;
}
.btn.__hidden {
  .opacity(0);
  z-index: -9999;
}
.btn_ic {
  margin-left: 2px;
  line-height: 57px;
}
.btn.__floated.__sm {
  width: 40px;
  height: 40px;
  .btn_ic {
    line-height: 41px;
    font-size: 20px;
  }
}