.cnt-tabs {
  height: 48px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid @medium-gray;
  text-align: center;
  .cnt-tabs_i {

    display: inline-block;
    cursor: pointer;

    .cnt-tabs_i_a {
      margin-top: 1px;
      padding: 16px 20px;
      text-decoration: none;
      color: @black;
      display: block;
      text-transform: uppercase;
      line-height: 13px;
      font-size: 13px;
    }

    &.__active {
      border-bottom: 2px solid @orange;
      .cnt-tabs_i_a {
        color: @orange;
      }
    }
  }
}
