.cnt-head {
  padding: 0 24px;
  height: 64px;
  border-bottom: 1px solid @medium-gray;
  position: relative;
  margin-bottom: 32px;

  .cnt-head_t {
    margin: 0;
    line-height: 64px;
  }

  .cnt-head_btn {
    position: absolute;
    bottom: -28px;
    right: 24px;
  }

  @media @xs, @hs {
    height: 48px;
    padding: 0 16px;

    .cnt-head_t {
      line-height: 48px;
    }
    .cnt-head_btn {
      right: 16px;
    }
  }
}
