.cnt {
  // container

  display: block;
  margin: 0 auto;
  margin-bottom: 128px;

  &.__xs {
    max-width: 300px;
  }
  &.__xxs {
    max-width: 400px;
  }
  &.__hs {
    max-width: 450px;
  }
  &.__xhs {
    max-width: 600px;
  }
  &.__sm {
    max-width: 700px;
  }
  &.__md {
    max-width: 1024px;
  }
  &.__full {
    width: 100%;
  }
  &.__padding {
    padding: 34px 24px;

    @media @xs, @hs {
      padding: 35px 16px;
    }
  }
  &.__center {
    text-align: center;
  }

  @media @hs, @xs {
    margin-bottom: 96px;
  }

  &.__mb0 {
    margin-bottom: 0;
  }

}
