@orange: #FF9800; // brand
@dark-orange: #F57C00; // brand
@light-orange: #FFF3E0; // head sidebar
@gray: #989898; // support text
@medium-gray: #dcdddf; // borders
@light-gray: #f1f1f1; // background
@white: #ffffff; // background of container
@red: #e51c23; // errors
@light-red: #F44336; // hover
@light-yellow: #FFEB3B; // hover
@light-blue: #2196F3; // primary
@light-cyan: #BBDEFB; // hover
@green: #4CAF50; // positive
@black: #424242; // general text color
@medium-black: #757575; // text color
@light-black: rgba(0,0,0,0.54); // light text color
@blue: #1976D2; // links
@blue-black: #263238; // overlay for content
.__txt-green {
  color: @green;
}
.__txt-red {
  color: @red;
}
.__txt-orange {
  color: @orange;
}
.__txt-blue {
  color: @blue;
}
.__txt-black {
  color: @black;
}
