.form {

  .fs {
    &.__inline {

    }
  }
  &.__padding {
    padding: 34px 24px;

    @media @xs, @hs {
      padding: 35px 16px;
    }
  }

}

.form-err {
  &:extend(p);
  color: @red;
  display: block;
  text-align: left;
  margin: -10px 0 10px 0;
  padding-right: 35px;
  position: relative;
  &:after {
    &:extend(.mic);
    display: block;
    content: "\e6a3";
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 17px;
  }
}
