[class^="ic-"], [class*=" ic-"] {
  display: inline-block;
  background: url('../img/sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

// Icons
.ic-logo-lite-white { background-position: -3px -0px; width: 224px; height: 12px; }
.ic-logo-horizontal-white { background-position: -3px -15px; width: 213px; height: 40px; }
.ic-logo-vertical-black { background-position: -3px -58px; width: 187px; height: 78px; }
.ic-lock { background-position: -3px -139px; width: 96px; height: 95px; }
.ic-map { background-position: -102px -139px; width: 95px; height: 95px; }
.ic-iphone { background-position: -3px -237px; width: 46px; height: 95px; }