.minput {
  // material input
  position: relative;
  margin-bottom: 45px;
  width: 100%;
  background-color: transparent;

  input, textarea {
    display: block;
    padding: 10px 10px 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: transparent;
    font-size: 14px;
    resize: none;

    &[type="file"] {
      padding-left: 64px;
    }
    &:focus {
      outline: none;
    }
    &:focus ~ label, &:valid ~ label {
      top: -20px;
      color: @orange;
      font-size: 14px;
    }
  }
  label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    font-weight: normal;
    font-size: 14px;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    pointer-events: none;
  }
  input .minput_bar, textarea .minput_bar {
    position: relative;
    display: block;
    width: 300px;
  }
  .minput_bar:before, .minput_bar:after {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: @orange;
    content: '';
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
  }
  .minput_bar:before {
    left: 50%;
  }
  .minput_bar:after {
    right: 50%;
  }
  input:focus ~ .minput_bar:before, input:focus ~ .minput_bar:after, textarea:focus ~ .minput_bar:before, textarea:focus ~ .minput_bar:after {
    width: 50%;
  }
  .minput_highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  &.__error {
    input, textarea {
      border-color: @red;
    }
    .minput_errors {
      font-size: 12px;
      color: @red;
      width: 100%;
      text-align: left;
      margin: 8px 0 0 0;
      display: block;
      position: absolute;
      ul {
        // django .error_list
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &:after {
        &:extend(.mic);
        display: block;
        content: "\e6a3";
        position: absolute;
        right: 0;
        top: 0;
        font-size: 19px;
      }
    }
  }
  input:focus ~ .minput_highlight, textarea:focus ~ .minput_highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  @-webkit-keyframes inputHighlighter {
    from {
      background: @orange;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: @orange;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: @orange;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}

.minputsdt {
  width: 100%;

  .minputsdt_i {
    // material input split datetime
    position: relative;
    margin-bottom: 45px;
    background-color: transparent;

    input {
      font-size: 14px;
      padding: 10px 10px 10px 0;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #757575;
      background-color: transparent;
      resize: none;
      &:focus {
        outline: none;
      }
      &:focus ~ label, &:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: @orange;
      }
    }
    label {
      color: #999;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    input .minputsdt_i_bar {
      position: relative;
      display: block;
      width: 300px;
    }
    .minputsdt_i_bar:before, .minputsdt_i_bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: @orange;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .minputsdt_i_bar:before {
      left: 50%;
    }
    .minputsdt_i_bar:after {
      right: 50%;
    }
    input:focus ~ .minputsdt_i_bar:before, input:focus ~ .minputsdt_i_bar:after {
      width: 50%;
    }
    .minputsdt_i_highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
    &.__error {
      input, textarea {
        border-color: @red;
      }
      .minputsdt_i_errors {
        font-size: 12px;
        color: @red;
        width: 100%;
        text-align: left;
        margin: 8px 0 0 0;
        display: block;
        position: absolute;
        ul {
          // django .error_list
          margin: 0;
          padding: 0;
          list-style: none;
        }
        &:after {
          &:extend(.mic);
          display: block;
          content: "\e6a3";
          position: absolute;
          right: 0;
          top: 0;
          font-size: 19px;
        }
      }
    }

    &:first-child {
      width: 65%;
      margin-right: 5%;
      float: left;
    }
    &:nth-child(2) {
      width: 30%;
      float: left;
    }

    input:focus ~ .minputsdt_i_highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
    @-webkit-keyframes inputHighlighter {
      from {
        background: @orange;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @-moz-keyframes inputHighlighter {
      from {
        background: @orange;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @keyframes inputHighlighter {
      from {
        background: @orange;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }
}

.mradio {
  display: inline-block;
  padding-right: 20px;
  font-size: 14px;
  line-height: 36px;
  cursor: pointer;
  .mradio_input {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .mradio_input:checked + .mradio_outer .mradio_outer_inner {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .mradio_input:checked + .mradio_outer {
    border: 2px solid #F5A623;
  }
  .mradio_input:focus + .mradio_outer .mradio_outer_inner {
    background-color: #e79d21;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .mradio_outer {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin: 10px 9px 10px 10px;
    border: 2px solid #4c4c4c;
    border-radius: 50%;
    background-color: #fff;
    .mradio_outer_inner {
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      width: 8px;
      height: 8px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      display: block;
      margin: 2px;
      border-radius: 50%;
      background-color: #f08b3b;
      opacity: 0;
    }
  }
  &:hover .mradio_outer_inner {
    opacity: .5;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.mcheckbox {
  position: relative;
  display: inline-block;
  margin: .5rem;
  width: 100%;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
  input {
    position: relative;
    top: -2px;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  input:before {
    .transition(all .3s ease-in-out);
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #e5e5e5;
    content: "";
  }
  input:checked:before {
    .transform(rotate(-45deg));
    height: .5rem;
    border-color: @orange;
    border-top-style: none;
    border-right-style: none;
  }
  input:after {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #fafafa;
    content: "";
    cursor: pointer;
  }
  a {
    color: @blue;
  }
}

.mselect {
  position: relative;
  margin-bottom: 45px;
  width: 100%;
  outline: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 16px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 5px solid @medium-black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
  }

  select {
    display: block;
    padding: 10px 10px 10px 0;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 14px;
    resize: none;
    cursor: pointer;
    -webkit-appearance: button;
    &:focus {
      outline: none;
    }
    &:focus ~ label, &:valid ~ label {
      top: -20px;
      color: @orange;
      font-size: 14px;
    }
    option:checked ~ select {
      display: none;
    }
  }

  label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    font-weight: normal;
    font-size: 14px;
    pointer-events: none;
    .transition(0.2s ease all);
  }
  select .mselect_bar {
    position: relative;
    display: block;
    width: 300px;
  }
  .mselect_bar:before, .mselect_bar:after {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: @orange;
    content: '';
    .transition(0.2s ease all);
  }
  .mselect_bar:before {
    left: 50%;
  }
  .mselect_bar:after {
    right: 50%;
  }
  select:focus ~ .mselect_bar:before, select:focus ~ .mselect_bar:after {
    width: 50%;
  }
  .mselect_highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  &.__error {
    border-color: @red;

    .mselect_errors {
      font-size: 12px;
      color: @red;
      width: 100%;
      text-align: left;
      margin: 8px 0 0 0;
      display: block;
      position: absolute;
      ul {
        // django .error_list
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &:after {
        &:extend(.mic);
        display: block;
        content: "\e6a3";
        position: absolute;
        right: 0;
        top: 0;
        font-size: 19px;
      }
    }
  }
  select:focus ~ .mselect_highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  @-webkit-keyframes inputHighlighter {
    from {
      background: @orange;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: @orange;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: @orange;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}

.minputfile {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid #757575;

  .minputfile_hidden {
    display: none;
  }

  .minputfile_field {
    .display(flex);
    .align-items(center);
    .justify-content(space-between);

    .minputfile_field_photo {
      width: 64px;
      height: 64px;
    }
  }
  .minputfile_errors {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 4px;
    font-size: 12px;
    color: @red;
  }
  label {
    display: block;
    padding-bottom: 4px;

    width: 100%;
    text-align: left;
  }
}
