@font-face {
  font-family: 'micfont';
  src: url('../fonts/micfont/micfont.eot?-j3fn7f');
  src: url('../fonts/micfont/micfont.eot?#iefix-j3fn7f') format('embedded-opentype'), url('../fonts/micfont/micfont.woff?-j3fn7f') format('woff'), url('../fonts/micfont/micfont.ttf?-j3fn7f') format('truetype'), url('../fonts/micfont/micfont.svg?-j3fn7f#micfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="mic-"], [class*=" mic-"], .mic {
  font-family: 'micfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mic-3d-rotation:before {
  content: "\e600";
}
.mic-accessibility:before {
  content: "\e601";
}
.mic-account-balance:before {
  content: "\e602";
}
.mic-account-balance-wallet:before {
  content: "\e603";
}
.mic-account-box:before {
  content: "\e604";
}
.mic-account-child:before {
  content: "\e605";
}
.mic-account-circle:before {
  content: "\e606";
}
.mic-add-shopping-cart:before {
  content: "\e607";
}
.mic-alarm:before {
  content: "\e608";
}
.mic-alarm-add:before {
  content: "\e609";
}
.mic-alarm-off:before {
  content: "\e60a";
}
.mic-alarm-on:before {
  content: "\e60b";
}
.mic-android:before {
  content: "\e60c";
}
.mic-announcement:before {
  content: "\e60d";
}
.mic-aspect-ratio:before {
  content: "\e60e";
}
.mic-assessment:before {
  content: "\e60f";
}
.mic-assignment:before {
  content: "\e610";
}
.mic-assignment-ind:before {
  content: "\e611";
}
.mic-assignment-late:before {
  content: "\e612";
}
.mic-assignment-return:before {
  content: "\e613";
}
.mic-assignment-returned:before {
  content: "\e614";
}
.mic-assignment-turned-in:before {
  content: "\e615";
}
.mic-autorenew:before {
  content: "\e616";
}
.mic-backup:before {
  content: "\e617";
}
.mic-book:before {
  content: "\e618";
}
.mic-bookmark:before {
  content: "\e619";
}
.mic-bookmark-outline:before {
  content: "\e61a";
}
.mic-bug-report:before {
  content: "\e61b";
}
.mic-cached:before {
  content: "\e61c";
}
.mic-class:before {
  content: "\e61d";
}
.mic-credit-card:before {
  content: "\e61e";
}
.mic-dashboard:before {
  content: "\e61f";
}
.mic-delete:before {
  content: "\e620";
}
.mic-description:before {
  content: "\e621";
}
.mic-dns:before {
  content: "\e622";
}
.mic-done:before {
  content: "\e623";
}
.mic-done-all:before {
  content: "\e624";
}
.mic-event:before {
  content: "\e625";
}
.mic-exit-to-app:before {
  content: "\e626";
}
.mic-explore:before {
  content: "\e627";
}
.mic-extension:before {
  content: "\e628";
}
.mic-face-unlock:before {
  content: "\e629";
}
.mic-favorite:before {
  content: "\e62a";
}
.mic-favorite-outline:before {
  content: "\e62b";
}
.mic-find-in-page:before {
  content: "\e62c";
}
.mic-find-replace:before {
  content: "\e62d";
}
.mic-flip-to-back:before {
  content: "\e62e";
}
.mic-flip-to-front:before {
  content: "\e62f";
}
.mic-get-app:before {
  content: "\e630";
}
.mic-grade:before {
  content: "\e631";
}
.mic-group-work:before {
  content: "\e632";
}
.mic-help:before {
  content: "\e633";
}
.mic-highlight-remove:before {
  content: "\e634";
}
.mic-history:before {
  content: "\e635";
}
.mic-home:before {
  content: "\e636";
}
.mic-https:before {
  content: "\e637";
}
.mic-info:before {
  content: "\e638";
}
.mic-info-outline:before {
  content: "\e639";
}
.mic-input:before {
  content: "\e63a";
}
.mic-invert-colors:before {
  content: "\e63b";
}
.mic-label:before {
  content: "\e63c";
}
.mic-label-outline:before {
  content: "\e63d";
}
.mic-language:before {
  content: "\e63e";
}
.mic-launch:before {
  content: "\e63f";
}
.mic-list:before {
  content: "\e640";
}
.mic-lock:before {
  content: "\e641";
}
.mic-lock-open:before {
  content: "\e642";
}
.mic-lock-outline:before {
  content: "\e643";
}
.mic-loyalty:before {
  content: "\e644";
}
.mic-markunread-mailbox:before {
  content: "\e645";
}
.mic-note-add:before {
  content: "\e646";
}
.mic-open-in-browser:before {
  content: "\e647";
}
.mic-open-in-new:before {
  content: "\e648";
}
.mic-open-with:before {
  content: "\e649";
}
.mic-pageview:before {
  content: "\e64a";
}
.mic-payment:before {
  content: "\e64b";
}
.mic-perm-camera-m:before {
  content: "\e64c";
}
.mic-perm-contact-cal:before {
  content: "\e64d";
}
.mic-perm-data-setting:before {
  content: "\e64e";
}
.mic-perm-device-info:before {
  content: "\e64f";
}
.mic-perm-identity:before {
  content: "\e650";
}
.mic-perm-media:before {
  content: "\e651";
}
.mic-perm-phone-msg:before {
  content: "\e652";
}
.mic-perm-scan-wifi:before {
  content: "\e653";
}
.mic-picture-in-picture:before {
  content: "\e654";
}
.mic-polymer:before {
  content: "\e655";
}
.mic-print:before {
  content: "\e656";
}
.mic-query-builder:before {
  content: "\e657";
}
.mic-question-answer:before {
  content: "\e658";
}
.mic-receipt:before {
  content: "\e659";
}
.mic-redeem:before {
  content: "\e65a";
}
.mic-reorder:before {
  content: "\e65b";
}
.mic-report-problem:before {
  content: "\e65c";
}
.mic-restore:before {
  content: "\e65d";
}
.mic-room:before {
  content: "\e65e";
}
.mic-schedule:before {
  content: "\e65f";
}
.mic-search:before {
  content: "\e660";
}
.mic-settings:before {
  content: "\e661";
}
.mic-settings-applications:before {
  content: "\e662";
}
.mic-settings-backup-restore:before {
  content: "\e663";
}
.mic-settings-bluetooth:before {
  content: "\e664";
}
.mic-settings-cell:before {
  content: "\e665";
}
.mic-settings-display:before {
  content: "\e666";
}
.mic-settings-ethernet:before {
  content: "\e667";
}
.mic-settings-input-antenna:before {
  content: "\e668";
}
.mic-settings-input-component:before {
  content: "\e669";
}
.mic-settings-input-composite:before {
  content: "\e66a";
}
.mic-settings-input-hdmi:before {
  content: "\e66b";
}
.mic-settings-input-svideo:before {
  content: "\e66c";
}
.mic-settings-overscan:before {
  content: "\e66d";
}
.mic-settings-phone:before {
  content: "\e66e";
}
.mic-settings-power:before {
  content: "\e66f";
}
.mic-settings-remote:before {
  content: "\e670";
}
.mic-settings-voice:before {
  content: "\e671";
}
.mic-shop:before {
  content: "\e672";
}
.mic-shop-two:before {
  content: "\e673";
}
.mic-shopping-basket:before {
  content: "\e674";
}
.mic-shopping-cart:before {
  content: "\e675";
}
.mic-speaker-notes:before {
  content: "\e676";
}
.mic-spellcheck:before {
  content: "\e677";
}
.mic-star-rate:before {
  content: "\e678";
}
.mic-stars:before {
  content: "\e679";
}
.mic-store:before {
  content: "\e67a";
}
.mic-subject:before {
  content: "\e67b";
}
.mic-supervisor-account:before {
  content: "\e67c";
}
.mic-swap-horiz:before {
  content: "\e67d";
}
.mic-swap-vert:before {
  content: "\e67e";
}
.mic-swap-vert-circle:before {
  content: "\e67f";
}
.mic-system-update-tv:before {
  content: "\e680";
}
.mic-tab:before {
  content: "\e681";
}
.mic-tab-unselected:before {
  content: "\e682";
}
.mic-theaters:before {
  content: "\e683";
}
.mic-thumb-down:before {
  content: "\e684";
}
.mic-thumb-up:before {
  content: "\e685";
}
.mic-thumbs-up-down:before {
  content: "\e686";
}
.mic-toc:before {
  content: "\e687";
}
.mic-today:before {
  content: "\e688";
}
.mic-track-changes:before {
  content: "\e689";
}
.mic-translate:before {
  content: "\e68a";
}
.mic-trending-down:before {
  content: "\e68b";
}
.mic-trending-neutral:before {
  content: "\e68c";
}
.mic-trending-up:before {
  content: "\e68d";
}
.mic-turned-in:before {
  content: "\e68e";
}
.mic-turned-in-not:before {
  content: "\e68f";
}
.mic-verified-user:before {
  content: "\e690";
}
.mic-view-agenda:before {
  content: "\e691";
}
.mic-view-array:before {
  content: "\e692";
}
.mic-view-carousel:before {
  content: "\e693";
}
.mic-view-column:before {
  content: "\e694";
}
.mic-view-day:before {
  content: "\e695";
}
.mic-view-headline:before {
  content: "\e696";
}
.mic-view-list:before {
  content: "\e697";
}
.mic-view-module:before {
  content: "\e698";
}
.mic-view-quilt:before {
  content: "\e699";
}
.mic-view-stream:before {
  content: "\e69a";
}
.mic-view-week:before {
  content: "\e69b";
}
.mic-visibility:before {
  content: "\e69c";
}
.mic-visibility-off:before {
  content: "\e69d";
}
.mic-wallet-giftcard:before {
  content: "\e69e";
}
.mic-wallet-membership:before {
  content: "\e69f";
}
.mic-wallet-travel:before {
  content: "\e6a0";
}
.mic-work:before {
  content: "\e6a1";
}
.mic-error:before {
  content: "\e6a2";
}
.mic-warning:before {
  content: "\e6a3";
}
.mic-album:before {
  content: "\e6a4";
}
.mic-av-timer:before {
  content: "\e6a5";
}
.mic-closed-caption:before {
  content: "\e6a6";
}
.mic-equalizer:before {
  content: "\e6a7";
}
.mic-explicit:before {
  content: "\e6a8";
}
.mic-fast-forward:before {
  content: "\e6a9";
}
.mic-fast-rewind:before {
  content: "\e6aa";
}
.mic-games:before {
  content: "\e6ab";
}
.mic-hearing:before {
  content: "\e6ac";
}
.mic-high-quality:before {
  content: "\e6ad";
}
.mic-loop:before {
  content: "\e6ae";
}
.mic-mic:before {
  content: "\e6af";
}
.mic-mnone:before {
  content: "\e6b0";
}
.mic-moff:before {
  content: "\e6b1";
}
.mic-movie:before {
  content: "\e6b2";
}
.mic-my-library-add:before {
  content: "\e6b3";
}
.mic-my-library-books:before {
  content: "\e6b4";
}
.mic-my-library-mus:before {
  content: "\e6b5";
}
.mic-new-releases:before {
  content: "\e6b6";
}
.mic-not-interested:before {
  content: "\e6b7";
}
.mic-pause:before {
  content: "\e6b8";
}
.mic-pause-circle-fill:before {
  content: "\e6b9";
}
.mic-pause-circle-outline:before {
  content: "\e6ba";
}
.mic-play-arrow:before {
  content: "\e6bb";
}
.mic-play-circle-fill:before {
  content: "\e6bc";
}
.mic-play-circle-outline:before {
  content: "\e6bd";
}
.mic-play-shopping-bag:before {
  content: "\e6be";
}
.mic-playlist-add:before {
  content: "\e6bf";
}
.mic-queue:before {
  content: "\e6c0";
}
.mic-queue-mus:before {
  content: "\e6c1";
}
.mic-radio:before {
  content: "\e6c2";
}
.mic-recent-actors:before {
  content: "\e6c3";
}
.mic-repeat:before {
  content: "\e6c4";
}
.mic-repeat-one:before {
  content: "\e6c5";
}
.mic-replay:before {
  content: "\e6c6";
}
.mic-shuffle:before {
  content: "\e6c7";
}
.mic-skip-next:before {
  content: "\e6c8";
}
.mic-skip-previous:before {
  content: "\e6c9";
}
.mic-snooze:before {
  content: "\e6ca";
}
.mic-stop:before {
  content: "\e6cb";
}
.mic-subtitles:before {
  content: "\e6cc";
}
.mic-surround-sound:before {
  content: "\e6cd";
}
.mic-video-collection:before {
  content: "\e6ce";
}
.mic-videocam:before {
  content: "\e6cf";
}
.mic-videocam-off:before {
  content: "\e6d0";
}
.mic-volume-down:before {
  content: "\e6d1";
}
.mic-volume-mute:before {
  content: "\e6d2";
}
.mic-volume-off:before {
  content: "\e6d3";
}
.mic-volume-up:before {
  content: "\e6d4";
}
.mic-web:before {
  content: "\e6d5";
}
.mic-business:before {
  content: "\e6d6";
}
.mic-call:before {
  content: "\e6d7";
}
.mic-call-end:before {
  content: "\e6d8";
}
.mic-call-made:before {
  content: "\e6d9";
}
.mic-call-merge:before {
  content: "\e6da";
}
.mic-call-missed:before {
  content: "\e6db";
}
.mic-call-received:before {
  content: "\e6dc";
}
.mic-call-split:before {
  content: "\e6dd";
}
.mic-chat:before {
  content: "\e6de";
}
.mic-clear-all:before {
  content: "\e6df";
}
.mic-comment:before {
  content: "\e6e0";
}
.mic-contacts:before {
  content: "\e6e1";
}
.mic-dialer-sip:before {
  content: "\e6e2";
}
.mic-dialpad:before {
  content: "\e6e3";
}
.mic-dnd-on:before {
  content: "\e6e4";
}
.mic-email:before {
  content: "\e6e5";
}
.mic-forum:before {
  content: "\e6e6";
}
.mic-import-export:before {
  content: "\e6e7";
}
.mic-invert-colors-off:before {
  content: "\e6e8";
}
.mic-invert-colors-on:before {
  content: "\e6e9";
}
.mic-live-help:before {
  content: "\e6ea";
}
.mic-location-off:before {
  content: "\e6eb";
}
.mic-location-on:before {
  content: "\e6ec";
}
.mic-message:before {
  content: "\e6ed";
}
.mic-messenger:before {
  content: "\e6ee";
}
.mic-no-sim:before {
  content: "\e6ef";
}
.mic-phone:before {
  content: "\e6f0";
}
.mic-portable-wifi-off:before {
  content: "\e6f1";
}
.mic-quick-contacts-dialer:before {
  content: "\e6f2";
}
.mic-quick-contacts-mail:before {
  content: "\e6f3";
}
.mic-ring-volume:before {
  content: "\e6f4";
}
.mic-stay-current-landscape:before {
  content: "\e6f5";
}
.mic-stay-current-portrait:before {
  content: "\e6f6";
}
.mic-stay-primary-landscape:before {
  content: "\e6f7";
}
.mic-stay-primary-portrait:before {
  content: "\e6f8";
}
.mic-swap-calls:before {
  content: "\e6f9";
}
.mic-textsms:before {
  content: "\e6fa";
}
.mic-voicemail:before {
  content: "\e6fb";
}
.mic-vpn-key:before {
  content: "\e6fc";
}
.mic-add:before {
  content: "\e6fd";
}
.mic-add-box:before {
  content: "\e6fe";
}
.mic-add-circle:before {
  content: "\e6ff";
}
.mic-add-circle-outline:before {
  content: "\e700";
}
.mic-archive:before {
  content: "\e701";
}
.mic-backspace:before {
  content: "\e702";
}
.mic-block:before {
  content: "\e703";
}
.mic-clear:before {
  content: "\e704";
}
.mic-content-copy:before {
  content: "\e705";
}
.mic-content-cut:before {
  content: "\e706";
}
.mic-content-paste:before {
  content: "\e707";
}
.mic-create:before {
  content: "\e708";
}
.mic-drafts:before {
  content: "\e709";
}
.mic-filter-list:before {
  content: "\e70a";
}
.mic-flag:before {
  content: "\e70b";
}
.mic-forward:before {
  content: "\e70c";
}
.mic-gesture:before {
  content: "\e70d";
}
.mic-inbox:before {
  content: "\e70e";
}
.mic-link:before {
  content: "\e70f";
}
.mic-mail:before {
  content: "\e710";
}
.mic-markunread:before {
  content: "\e711";
}
.mic-redo:before {
  content: "\e712";
}
.mic-remove:before {
  content: "\e713";
}
.mic-remove-circle:before {
  content: "\e714";
}
.mic-remove-circle-outline:before {
  content: "\e715";
}
.mic-reply:before {
  content: "\e716";
}
.mic-reply-all:before {
  content: "\e717";
}
.mic-report:before {
  content: "\e718";
}
.mic-save:before {
  content: "\e719";
}
.mic-select-all:before {
  content: "\e71a";
}
.mic-send:before {
  content: "\e71b";
}
.mic-sort:before {
  content: "\e71c";
}
.mic-text-format:before {
  content: "\e71d";
}
.mic-undo:before {
  content: "\e71e";
}
.mic-access-alarm:before {
  content: "\e71f";
}
.mic-access-alarms:before {
  content: "\e720";
}
.mic-access-time:before {
  content: "\e721";
}
.mic-add-alarm:before {
  content: "\e722";
}
.mic-airplanemode-off:before {
  content: "\e723";
}
.mic-airplanemode-on:before {
  content: "\e724";
}
.mic-battery-20:before {
  content: "\e725";
}
.mic-battery-30:before {
  content: "\e726";
}
.mic-battery-50:before {
  content: "\e727";
}
.mic-battery-60:before {
  content: "\e728";
}
.mic-battery-80:before {
  content: "\e729";
}
.mic-battery-90:before {
  content: "\e72a";
}
.mic-battery-alert:before {
  content: "\e72b";
}
.mic-battery-charging-20:before {
  content: "\e72c";
}
.mic-battery-charging-30:before {
  content: "\e72d";
}
.mic-battery-charging-50:before {
  content: "\e72e";
}
.mic-battery-charging-60:before {
  content: "\e72f";
}
.mic-battery-charging-80:before {
  content: "\e730";
}
.mic-battery-charging-90:before {
  content: "\e731";
}
.mic-battery-charging-full:before {
  content: "\e732";
}
.mic-battery-full:before {
  content: "\e733";
}
.mic-battery-std:before {
  content: "\e734";
}
.mic-battery-unknown:before {
  content: "\e735";
}
.mic-bluetooth:before {
  content: "\e736";
}
.mic-bluetooth-connected:before {
  content: "\e737";
}
.mic-bluetooth-disabled:before {
  content: "\e738";
}
.mic-bluetooth-searching:before {
  content: "\e739";
}
.mic-brightness-auto:before {
  content: "\e73a";
}
.mic-brightness-high:before {
  content: "\e73b";
}
.mic-brightness-low:before {
  content: "\e73c";
}
.mic-brightness-medium:before {
  content: "\e73d";
}
.mic-data-usage:before {
  content: "\e73e";
}
.mic-developer-mode:before {
  content: "\e73f";
}
.mic-devices:before {
  content: "\e740";
}
.mic-dvr:before {
  content: "\e741";
}
.mic-gps-fixed:before {
  content: "\e742";
}
.mic-gps-not-fixed:before {
  content: "\e743";
}
.mic-gps-off:before {
  content: "\e744";
}
.mic-location-disabled:before {
  content: "\e745";
}
.mic-location-searching:before {
  content: "\e746";
}
.mic-multitrack-audio:before {
  content: "\e747";
}
.mic-network-cell:before {
  content: "\e748";
}
.mic-network-wifi:before {
  content: "\e749";
}
.mic-nfc:before {
  content: "\e74a";
}
.mic-now-wallpaper:before {
  content: "\e74b";
}
.mic-now-widgets:before {
  content: "\e74c";
}
.mic-screen-lock-landscape:before {
  content: "\e74d";
}
.mic-screen-lock-portrait:before {
  content: "\e74e";
}
.mic-screen-lock-rotation:before {
  content: "\e74f";
}
.mic-screen-rotation:before {
  content: "\e750";
}
.mic-sd-storage:before {
  content: "\e751";
}
.mic-settings-system-daydream:before {
  content: "\e752";
}
.mic-signal-cellular-0-bar:before {
  content: "\e753";
}
.mic-signal-cellular-1-bar:before {
  content: "\e754";
}
.mic-signal-cellular-2-bar:before {
  content: "\e755";
}
.mic-signal-cellular-3-bar:before {
  content: "\e756";
}
.mic-signal-cellular-4-bar:before {
  content: "\e757";
}
.mic-signal-cellular-connected-no-internet-0-bar:before {
  content: "\e758";
}
.mic-signal-cellular-connected-no-internet-1-bar:before {
  content: "\e759";
}
.mic-signal-cellular-connected-no-internet-2-bar:before {
  content: "\e75a";
}
.mic-signal-cellular-connected-no-internet-3-bar:before {
  content: "\e75b";
}
.mic-signal-cellular-connected-no-internet-4-bar:before {
  content: "\e75c";
}
.mic-signal-cellular-no-sim:before {
  content: "\e75d";
}
.mic-signal-cellular-null:before {
  content: "\e75e";
}
.mic-signal-cellular-off:before {
  content: "\e75f";
}
.mic-signal-wifi-0-bar:before {
  content: "\e760";
}
.mic-signal-wifi-1-bar:before {
  content: "\e761";
}
.mic-signal-wifi-2-bar:before {
  content: "\e762";
}
.mic-signal-wifi-3-bar:before {
  content: "\e763";
}
.mic-signal-wifi-4-bar:before {
  content: "\e764";
}
.mic-signal-wifi-off:before {
  content: "\e765";
}
.mic-signal-wifi-statusbar-1-bar:before {
  content: "\e766";
}
.mic-signal-wifi-statusbar-2-bar:before {
  content: "\e767";
}
.mic-signal-wifi-statusbar-3-bar:before {
  content: "\e768";
}
.mic-signal-wifi-statusbar-4-bar:before {
  content: "\e769";
}
.mic-signal-wifi-statusbar-connected-no-internet-1:before {
  content: "\e76a";
}
.mic-signal-wifi-statusbar-connected-no-internet-2:before {
  content: "\e76b";
}
.mic-signal-wifi-statusbar-connected-no-internet-3:before {
  content: "\e76c";
}
.mic-signal-wifi-statusbar-connected-no-internet-4:before {
  content: "\e76d";
}
.mic-signal-wifi-statusbar-connected-no-internet:before {
  content: "\e76e";
}
.mic-signal-wifi-statusbar-not-connected:before {
  content: "\e76f";
}
.mic-signal-wifi-statusbar-null:before {
  content: "\e770";
}
.mic-storage:before {
  content: "\e771";
}
.mic-usb:before {
  content: "\e772";
}
.mic-wifi-lock:before {
  content: "\e773";
}
.mic-wifi-tethering:before {
  content: "\e774";
}
.mic-attach-file:before {
  content: "\e775";
}
.mic-attach-money:before {
  content: "\e776";
}
.mic-border-all:before {
  content: "\e777";
}
.mic-border-bottom:before {
  content: "\e778";
}
.mic-border-clear:before {
  content: "\e779";
}
.mic-border-color:before {
  content: "\e77a";
}
.mic-border-horizontal:before {
  content: "\e77b";
}
.mic-border-inner:before {
  content: "\e77c";
}
.mic-border-left:before {
  content: "\e77d";
}
.mic-border-outer:before {
  content: "\e77e";
}
.mic-border-right:before {
  content: "\e77f";
}
.mic-border-style:before {
  content: "\e780";
}
.mic-border-top:before {
  content: "\e781";
}
.mic-border-vertical:before {
  content: "\e782";
}
.mic-format-align-center:before {
  content: "\e783";
}
.mic-format-align-justify:before {
  content: "\e784";
}
.mic-format-align-left:before {
  content: "\e785";
}
.mic-format-align-right:before {
  content: "\e786";
}
.mic-format-bold:before {
  content: "\e787";
}
.mic-format-clear:before {
  content: "\e788";
}
.mic-format-color-fill:before {
  content: "\e789";
}
.mic-format-color-reset:before {
  content: "\e78a";
}
.mic-format-color-text:before {
  content: "\e78b";
}
.mic-format-indent-decrease:before {
  content: "\e78c";
}
.mic-format-indent-increase:before {
  content: "\e78d";
}
.mic-format-ital:before {
  content: "\e78e";
}
.mic-format-line-spacing:before {
  content: "\e78f";
}
.mic-format-list-bulleted:before {
  content: "\e790";
}
.mic-format-list-numbered:before {
  content: "\e791";
}
.mic-format-paint:before {
  content: "\e792";
}
.mic-format-quote:before {
  content: "\e793";
}
.mic-format-size:before {
  content: "\e794";
}
.mic-format-strikethrough:before {
  content: "\e795";
}
.mic-format-textdirection-l-to-r:before {
  content: "\e796";
}
.mic-format-textdirection-r-to-l:before {
  content: "\e797";
}
.mic-format-underline:before {
  content: "\e798";
}
.mic-functions:before {
  content: "\e799";
}
.mic-insert-chart:before {
  content: "\e79a";
}
.mic-insert-comment:before {
  content: "\e79b";
}
.mic-insert-drive-file:before {
  content: "\e79c";
}
.mic-insert-emoticon:before {
  content: "\e79d";
}
.mic-insert-invitation:before {
  content: "\e79e";
}
.mic-insert-link:before {
  content: "\e79f";
}
.mic-insert-photo:before {
  content: "\e7a0";
}
.mic-merge-type:before {
  content: "\e7a1";
}
.mic-mode-comment:before {
  content: "\e7a2";
}
.mic-mode-edit:before {
  content: "\e7a3";
}
.mic-publish:before {
  content: "\e7a4";
}
.mic-vertical-align-bottom:before {
  content: "\e7a5";
}
.mic-vertical-align-center:before {
  content: "\e7a6";
}
.mic-vertical-align-top:before {
  content: "\e7a7";
}
.mic-wrap-text:before {
  content: "\e7a8";
}
.mic-attachment:before {
  content: "\e7a9";
}
.mic-cloud:before {
  content: "\e7aa";
}
.mic-cloud-circle:before {
  content: "\e7ab";
}
.mic-cloud-done:before {
  content: "\e7ac";
}
.mic-cloud-download:before {
  content: "\e7ad";
}
.mic-cloud-off:before {
  content: "\e7ae";
}
.mic-cloud-queue:before {
  content: "\e7af";
}
.mic-cloud-upload:before {
  content: "\e7b0";
}
.mic-file-download:before {
  content: "\e7b1";
}
.mic-file-upload:before {
  content: "\e7b2";
}
.mic-folder:before {
  content: "\e7b3";
}
.mic-folder-open:before {
  content: "\e7b4";
}
.mic-folder-shared:before {
  content: "\e7b5";
}
.mic-cast:before {
  content: "\e7b6";
}
.mic-cast-connected:before {
  content: "\e7b7";
}
.mic-computer:before {
  content: "\e7b8";
}
.mic-desktop-mac:before {
  content: "\e7b9";
}
.mic-desktop-windows:before {
  content: "\e7ba";
}
.mic-dock:before {
  content: "\e7bb";
}
.mic-gamepad:before {
  content: "\e7bc";
}
.mic-headset:before {
  content: "\e7bd";
}
.mic-headset-m:before {
  content: "\e7be";
}
.mic-keyboard:before {
  content: "\e7bf";
}
.mic-keyboard-alt:before {
  content: "\e7c0";
}
.mic-keyboard-arrow-down:before {
  content: "\e7c1";
}
.mic-keyboard-arrow-left:before {
  content: "\e7c2";
}
.mic-keyboard-arrow-right:before {
  content: "\e7c3";
}
.mic-keyboard-arrow-up:before {
  content: "\e7c4";
}
.mic-keyboard-backspace:before {
  content: "\e7c5";
}
.mic-keyboard-capslock:before {
  content: "\e7c6";
}
.mic-keyboard-control:before {
  content: "\e7c7";
}
.mic-keyboard-hide:before {
  content: "\e7c8";
}
.mic-keyboard-return:before {
  content: "\e7c9";
}
.mic-keyboard-tab:before {
  content: "\e7ca";
}
.mic-keyboard-voice:before {
  content: "\e7cb";
}
.mic-laptop:before {
  content: "\e7cc";
}
.mic-laptop-chromebook:before {
  content: "\e7cd";
}
.mic-laptop-mac:before {
  content: "\e7ce";
}
.mic-laptop-windows:before {
  content: "\e7cf";
}
.mic-memory:before {
  content: "\e7d0";
}
.mic-mouse:before {
  content: "\e7d1";
}
.mic-phone-android:before {
  content: "\e7d2";
}
.mic-phone-iphone:before {
  content: "\e7d3";
}
.mic-phonelink:before {
  content: "\e7d4";
}
.mic-phonelink-off:before {
  content: "\e7d5";
}
.mic-security:before {
  content: "\e7d6";
}
.mic-sim-card:before {
  content: "\e7d7";
}
.mic-smartphone:before {
  content: "\e7d8";
}
.mic-speaker:before {
  content: "\e7d9";
}
.mic-tablet:before {
  content: "\e7da";
}
.mic-tablet-android:before {
  content: "\e7db";
}
.mic-tablet-mac:before {
  content: "\e7dc";
}
.mic-tv:before {
  content: "\e7dd";
}
.mic-watch:before {
  content: "\e7de";
}
.mic-add-to-photos:before {
  content: "\e7df";
}
.mic-adjust:before {
  content: "\e7e0";
}
.mic-assistant-photo:before {
  content: "\e7e1";
}
.mic-audiotrack:before {
  content: "\e7e2";
}
.mic-blur-circular:before {
  content: "\e7e3";
}
.mic-blur-linear:before {
  content: "\e7e4";
}
.mic-blur-off:before {
  content: "\e7e5";
}
.mic-blur-on:before {
  content: "\e7e6";
}
.mic-brightness-1:before {
  content: "\e7e7";
}
.mic-brightness-2:before {
  content: "\e7e8";
}
.mic-brightness-3:before {
  content: "\e7e9";
}
.mic-brightness-4:before {
  content: "\e7ea";
}
.mic-brightness-5:before {
  content: "\e7eb";
}
.mic-brightness-6:before {
  content: "\e7ec";
}
.mic-brightness-7:before {
  content: "\e7ed";
}
.mic-brush:before {
  content: "\e7ee";
}
.mic-camera:before {
  content: "\e7ef";
}
.mic-camera-alt:before {
  content: "\e7f0";
}
.mic-camera-front:before {
  content: "\e7f1";
}
.mic-camera-rear:before {
  content: "\e7f2";
}
.mic-camera-roll:before {
  content: "\e7f3";
}
.mic-center-focus-strong:before {
  content: "\e7f4";
}
.mic-center-focus-weak:before {
  content: "\e7f5";
}
.mic-collections:before {
  content: "\e7f6";
}
.mic-color-lens:before {
  content: "\e7f7";
}
.mic-colorize:before {
  content: "\e7f8";
}
.mic-compare:before {
  content: "\e7f9";
}
.mic-control-point:before {
  content: "\e7fa";
}
.mic-control-point-duplicate:before {
  content: "\e7fb";
}
.mic-crop-3-2:before {
  content: "\e7fc";
}
.mic-crop-5-4:before {
  content: "\e7fd";
}
.mic-crop-7-5:before {
  content: "\e7fe";
}
.mic-crop-16-9:before {
  content: "\e7ff";
}
.mic-crop:before {
  content: "\e800";
}
.mic-crop-din:before {
  content: "\e801";
}
.mic-crop-free:before {
  content: "\e802";
}
.mic-crop-landscape:before {
  content: "\e803";
}
.mic-crop-original:before {
  content: "\e804";
}
.mic-crop-portrait:before {
  content: "\e805";
}
.mic-crop-square:before {
  content: "\e806";
}
.mic-dehaze:before {
  content: "\e807";
}
.mic-details:before {
  content: "\e808";
}
.mic-edit:before {
  content: "\e809";
}
.mic-exposure:before {
  content: "\e80a";
}
.mic-exposure-minus-1:before {
  content: "\e80b";
}
.mic-exposure-minus-2:before {
  content: "\e80c";
}
.mic-exposure-plus-1:before {
  content: "\e80d";
}
.mic-exposure-plus-2:before {
  content: "\e80e";
}
.mic-exposure-zero:before {
  content: "\e80f";
}
.mic-filter-1:before {
  content: "\e810";
}
.mic-filter-2:before {
  content: "\e811";
}
.mic-filter-3:before {
  content: "\e812";
}
.mic-filter-4:before {
  content: "\e813";
}
.mic-filter-5:before {
  content: "\e814";
}
.mic-filter-6:before {
  content: "\e815";
}
.mic-filter-7:before {
  content: "\e816";
}
.mic-filter-8:before {
  content: "\e817";
}
.mic-filter-9:before {
  content: "\e818";
}
.mic-filter-9-plus:before {
  content: "\e819";
}
.mic-filter:before {
  content: "\e81a";
}
.mic-filter-b-and-w:before {
  content: "\e81b";
}
.mic-filter-center-focus:before {
  content: "\e81c";
}
.mic-filter-drama:before {
  content: "\e81d";
}
.mic-filter-frames:before {
  content: "\e81e";
}
.mic-filter-hdr:before {
  content: "\e81f";
}
.mic-filter-none:before {
  content: "\e820";
}
.mic-filter-tilt-shift:before {
  content: "\e821";
}
.mic-filter-vintage:before {
  content: "\e822";
}
.mic-flare:before {
  content: "\e823";
}
.mic-flash-auto:before {
  content: "\e824";
}
.mic-flash-off:before {
  content: "\e825";
}
.mic-flash-on:before {
  content: "\e826";
}
.mic-flip:before {
  content: "\e827";
}
.mic-gradient:before {
  content: "\e828";
}
.mic-grain:before {
  content: "\e829";
}
.mic-grid-off:before {
  content: "\e82a";
}
.mic-grid-on:before {
  content: "\e82b";
}
.mic-hdr-off:before {
  content: "\e82c";
}
.mic-hdr-on:before {
  content: "\e82d";
}
.mic-hdr-strong:before {
  content: "\e82e";
}
.mic-hdr-weak:before {
  content: "\e82f";
}
.mic-healing:before {
  content: "\e830";
}
.mic-image:before {
  content: "\e831";
}
.mic-image-aspect-ratio:before {
  content: "\e832";
}
.mic-iso:before {
  content: "\e833";
}
.mic-landscape:before {
  content: "\e834";
}
.mic-leak-add:before {
  content: "\e835";
}
.mic-leak-remove:before {
  content: "\e836";
}
.mic-lens:before {
  content: "\e837";
}
.mic-looks-3:before {
  content: "\e838";
}
.mic-looks-4:before {
  content: "\e839";
}
.mic-looks-5:before {
  content: "\e83a";
}
.mic-looks-6:before {
  content: "\e83b";
}
.mic-looks:before {
  content: "\e83c";
}
.mic-looks-one:before {
  content: "\e83d";
}
.mic-looks-two:before {
  content: "\e83e";
}
.mic-loupe:before {
  content: "\e83f";
}
.mic-movie-creation:before {
  content: "\e840";
}
.mic-nature:before {
  content: "\e841";
}
.mic-nature-people:before {
  content: "\e842";
}
.mic-navigate-before:before {
  content: "\e843";
}
.mic-navigate-next:before {
  content: "\e844";
}
.mic-palette:before {
  content: "\e845";
}
.mic-panorama:before {
  content: "\e846";
}
.mic-panorama-fisheye:before {
  content: "\e847";
}
.mic-panorama-horizontal:before {
  content: "\e848";
}
.mic-panorama-vertical:before {
  content: "\e849";
}
.mic-panorama-wide-angle:before {
  content: "\e84a";
}
.mic-photo:before {
  content: "\e84b";
}
.mic-photo-album:before {
  content: "\e84c";
}
.mic-photo-camera:before {
  content: "\e84d";
}
.mic-photo-library:before {
  content: "\e84e";
}
.mic-portrait:before {
  content: "\e84f";
}
.mic-remove-red-eye:before {
  content: "\e850";
}
.mic-rotate-left:before {
  content: "\e851";
}
.mic-rotate-right:before {
  content: "\e852";
}
.mic-slideshow:before {
  content: "\e853";
}
.mic-straighten:before {
  content: "\e854";
}
.mic-style:before {
  content: "\e855";
}
.mic-switch-camera:before {
  content: "\e856";
}
.mic-switch-video:before {
  content: "\e857";
}
.mic-tag-faces:before {
  content: "\e858";
}
.mic-texture:before {
  content: "\e859";
}
.mic-timelapse:before {
  content: "\e85a";
}
.mic-timer-3:before {
  content: "\e85b";
}
.mic-timer-10:before {
  content: "\e85c";
}
.mic-timer:before {
  content: "\e85d";
}
.mic-timer-auto:before {
  content: "\e85e";
}
.mic-timer-off:before {
  content: "\e85f";
}
.mic-tonality:before {
  content: "\e860";
}
.mic-transform:before {
  content: "\e861";
}
.mic-tune:before {
  content: "\e862";
}
.mic-wb-auto:before {
  content: "\e863";
}
.mic-wb-cloudy:before {
  content: "\e864";
}
.mic-wb-incandescent:before {
  content: "\e865";
}
.mic-wb-irradescent:before {
  content: "\e866";
}
.mic-wb-sunny:before {
  content: "\e867";
}
.mic-beenhere:before {
  content: "\e868";
}
.mic-directions:before {
  content: "\e869";
}
.mic-directions-bike:before {
  content: "\e86a";
}
.mic-directions-bus:before {
  content: "\e86b";
}
.mic-directions-car:before {
  content: "\e86c";
}
.mic-directions-ferry:before {
  content: "\e86d";
}
.mic-directions-subway:before {
  content: "\e86e";
}
.mic-directions-train:before {
  content: "\e86f";
}
.mic-directions-transit:before {
  content: "\e870";
}
.mic-directions-walk:before {
  content: "\e871";
}
.mic-flight:before {
  content: "\e872";
}
.mic-hotel:before {
  content: "\e873";
}
.mic-layers:before {
  content: "\e874";
}
.mic-layers-clear:before {
  content: "\e875";
}
.mic-local-airport:before {
  content: "\e876";
}
.mic-local-atm:before {
  content: "\e877";
}
.mic-local-attraction:before {
  content: "\e878";
}
.mic-local-bar:before {
  content: "\e879";
}
.mic-local-cafe:before {
  content: "\e87a";
}
.mic-local-car-wash:before {
  content: "\e87b";
}
.mic-local-convenience-store:before {
  content: "\e87c";
}
.mic-local-drink:before {
  content: "\e87d";
}
.mic-local-florist:before {
  content: "\e87e";
}
.mic-local-gas-station:before {
  content: "\e87f";
}
.mic-local-grocery-store:before {
  content: "\e880";
}
.mic-local-hospital:before {
  content: "\e881";
}
.mic-local-hotel:before {
  content: "\e882";
}
.mic-local-laundry-service:before {
  content: "\e883";
}
.mic-local-library:before {
  content: "\e884";
}
.mic-local-mall:before {
  content: "\e885";
}
.mic-local-movies:before {
  content: "\e886";
}
.mic-local-offer:before {
  content: "\e887";
}
.mic-local-parking:before {
  content: "\e888";
}
.mic-local-pharmacy:before {
  content: "\e889";
}
.mic-local-phone:before {
  content: "\e88a";
}
.mic-local-pizza:before {
  content: "\e88b";
}
.mic-local-play:before {
  content: "\e88c";
}
.mic-local-post-office:before {
  content: "\e88d";
}
.mic-local-print-shop:before {
  content: "\e88e";
}
.mic-local-restaurant:before {
  content: "\e88f";
}
.mic-local-see:before {
  content: "\e890";
}
.mic-local-shipping:before {
  content: "\e891";
}
.mic-local-taxi:before {
  content: "\e892";
}
.mic-location-history:before {
  content: "\e893";
}
.mic-map:before {
  content: "\e894";
}
.mic-my-location:before {
  content: "\e895";
}
.mic-navigation:before {
  content: "\e896";
}
.mic-pin-drop:before {
  content: "\e897";
}
.mic-place:before {
  content: "\e898";
}
.mic-rate-review:before {
  content: "\e899";
}
.mic-restaurant-menu:before {
  content: "\e89a";
}
.mic-satellite:before {
  content: "\e89b";
}
.mic-store-mall-directory:before {
  content: "\e89c";
}
.mic-terrain:before {
  content: "\e89d";
}
.mic-traff:before {
  content: "\e89e";
}
.mic-apps:before {
  content: "\e89f";
}
.mic-arrow-back:before {
  content: "\e8a0";
}
.mic-arrow-drop-down:before {
  content: "\e8a1";
}
.mic-arrow-drop-down-circle:before {
  content: "\e8a2";
}
.mic-arrow-drop-up:before {
  content: "\e8a3";
}
.mic-arrow-forward:before {
  content: "\e8a4";
}
.mic-cancel:before {
  content: "\e8a5";
}
.mic-check:before {
  content: "\e8a6";
}
.mic-chevron-left:before {
  content: "\e8a7";
}
.mic-chevron-right:before {
  content: "\e8a8";
}
.mic-close:before {
  content: "\e8a9";
}
.mic-expand-less:before {
  content: "\e8aa";
}
.mic-expand-more:before {
  content: "\e8ab";
}
.mic-fullscreen:before {
  content: "\e8ac";
}
.mic-fullscreen-exit:before {
  content: "\e8ad";
}
.mic-menu:before {
  content: "\e8ae";
}
.mic-more-horiz:before {
  content: "\e8af";
}
.mic-more-vert:before {
  content: "\e8b0";
}
.mic-refresh:before {
  content: "\e8b1";
}
.mic-unfold-less:before {
  content: "\e8b2";
}
.mic-unfold-more:before {
  content: "\e8b3";
}
.mic-adb:before {
  content: "\e8b4";
}
.mic-bluetooth-audio:before {
  content: "\e8b5";
}
.mic-disc-full:before {
  content: "\e8b6";
}
.mic-dnd-forwardslash:before {
  content: "\e8b7";
}
.mic-do-not-disturb:before {
  content: "\e8b8";
}
.mic-drive-eta:before {
  content: "\e8b9";
}
.mic-event-available:before {
  content: "\e8ba";
}
.mic-event-busy:before {
  content: "\e8bb";
}
.mic-event-note:before {
  content: "\e8bc";
}
.mic-folder-special:before {
  content: "\e8bd";
}
.mic-mms:before {
  content: "\e8be";
}
.mic-more:before {
  content: "\e8bf";
}
.mic-network-locked:before {
  content: "\e8c0";
}
.mic-phone-bluetooth-speaker:before {
  content: "\e8c1";
}
.mic-phone-forwarded:before {
  content: "\e8c2";
}
.mic-phone-in-talk:before {
  content: "\e8c3";
}
.mic-phone-locked:before {
  content: "\e8c4";
}
.mic-phone-missed:before {
  content: "\e8c5";
}
.mic-phone-paused:before {
  content: "\e8c6";
}
.mic-play-download:before {
  content: "\e8c7";
}
.mic-play-install:before {
  content: "\e8c8";
}
.mic-sd-card:before {
  content: "\e8c9";
}
.mic-sim-card-alert:before {
  content: "\e8ca";
}
.mic-sms:before {
  content: "\e8cb";
}
.mic-sms-failed:before {
  content: "\e8cc";
}
.mic-sync:before {
  content: "\e8cd";
}
.mic-sync-disabled:before {
  content: "\e8ce";
}
.mic-sync-problem:before {
  content: "\e8cf";
}
.mic-system-update:before {
  content: "\e8d0";
}
.mic-tap-and-play:before {
  content: "\e8d1";
}
.mic-time-to-leave:before {
  content: "\e8d2";
}
.mic-vibration:before {
  content: "\e8d3";
}
.mic-voice-chat:before {
  content: "\e8d4";
}
.mic-vpn-lock:before {
  content: "\e8d5";
}
.mic-cake:before {
  content: "\e8d6";
}
.mic-domain:before {
  content: "\e8d7";
}
.mic-group:before {
  content: "\e8d8";
}
.mic-group-add:before {
  content: "\e8d9";
}
.mic-location-city:before {
  content: "\e8da";
}
.mic-mood:before {
  content: "\e8db";
}
.mic-notifications:before {
  content: "\e8dc";
}
.mic-notifications-none:before {
  content: "\e8dd";
}
.mic-notifications-off:before {
  content: "\e8de";
}
.mic-notifications-on:before {
  content: "\e8df";
}
.mic-notifications-paused:before {
  content: "\e8e0";
}
.mic-pages:before {
  content: "\e8e1";
}
.mic-party-mode:before {
  content: "\e8e2";
}
.mic-people:before {
  content: "\e8e3";
}
.mic-people-outline:before {
  content: "\e8e4";
}
.mic-person:before {
  content: "\e8e5";
}
.mic-person-add:before {
  content: "\e8e6";
}
.mic-person-outline:before {
  content: "\e8e7";
}
.mic-plus-one:before {
  content: "\e8e8";
}
.mic-poll:before {
  content: "\e8e9";
}
.mic-publ:before {
  content: "\e8ea";
}
.mic-school:before {
  content: "\e8eb";
}
.mic-share:before {
  content: "\e8ec";
}
.mic-whatshot:before {
  content: "\e8ed";
}
.mic-check-box:before {
  content: "\e8ee";
}
.mic-check-box-outline-blank:before {
  content: "\e8ef";
}
.mic-radio-button-off:before {
  content: "\e8f0";
}
.mic-radio-button-on:before {
  content: "\e8f1";
}
.mic-star:before {
  content: "\e8f2";
}
.mic-star-half:before {
  content: "\e8f3";
}
.mic-star-outline:before {
  content: "\e8f4";
}
