.modal-window {
  padding: 24px 24px !important;
  h3 {
    text-align: center;
    font-size: 18px;
    color: #4C4C4C;
    font-weight: normal;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 27px;
  }
  #modal-subject {
    margin-bottom: 22px;
    div.label {
      float: left;
      font-size: 11px;
      color: #7f7f7f;
      margin-right: 35px;
      margin-top: 2px;
    }
  }
  textarea {
    padding: 10px 15px;
    width: 403px;
    height: 82px;
    border: 1px solid #dce0e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    resize: none;
    font-family: "Noto Sans", sans-serif !important;
    font-size: 12px !important;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.__fade .modal-dialog {
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 25px;
  &:extend(.shadow-5);
}
.modal-content {
  position: relative;
  background-color: @white;
  background-clip: padding-box;
  outline: 0;
  .border-radius(2px);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.__fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.modal-header {
  padding: 15px;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
  position: absolute;
  right: 13px;
  border: none;
  background: none;
  z-index: 1;
}
.modal-title {
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
  padding-top: 0;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  padding-top: 0;
  .btn {
    display: inline-block;
    min-width: 88px;
    width: auto;
    float: right;
  }
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-help {
  text-align: center;
  .opacity(.54);
  padding: 0 16px 1px;
  .modal-help_txt {}
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (max-width: 768px) {
  .modal {
    .modal-dialog {
      margin: 108px auto;
    }
  }
}
@media (min-width: 768px) {
  .modal {
    .modal-dialog {
      width: 600px;
      margin: 138px auto;
      &:extend(.shadow-4);
      &.__sm {
        width: 370px;
      }
    }
  }
}
@media (min-width: 992px) {
  .modal {
    &.__lg {
      .modal-dialog {
        width: 900px;
      }
    }
  }
}
.clearfix:before, .clearfix:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after, .modal-footer:after {
  clear: both;
}
