#notify {
  width: 100%;
  opacity: 1;
  display: block;
  top: 40px;
  cursor: auto;
  height: auto;
  z-index: 9999;
  position: fixed;

  .notify_alert {
    -webkit-box-shadow: 1px 2px 6px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 1px 2px 6px rgba(50, 50, 50, 0.25);
    box-shadow: 1px 2px 6px rgba(50, 50, 50, 0.25);
    padding: 8px 35px 8px 14px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 13px;
    position: relative;
    width: 300px;
    margin: 0 auto 10px auto;

    .__success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
    }
    .__info {
      background-color: #d9edf7;
      border-color: #bce8f1;
      color: #3a87ad;
    }
    .__danger, .__error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
    }
    .notify_t {
      margin-top: 0;
      margin-bottom: .4em;
    }
    .notify_alert_close {
      display: none;
      margin-left: .2em;
      cursor: pointer;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: none;
      background: none;
      position: absolute;
      top: 5px;
      right: 6px;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;

      &:hover {
        background-color: #E0DFDF;
      }
    }
  }
  &:hover .notify_alert_close {
    display: block;
  }
}
#system_msg {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  display: none;
  .border-radius(0 0 6px);
  padding: 7px 10px;
}
