@font-face {
    font-family: 'rouble';
    src: url('../fonts/rouble/rouble-webfont.eot');
    src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble/rouble-webfont.woff2') format('woff2'),
         url('../fonts/rouble/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble/rouble-webfont.ttf') format('truetype'),
         url('../fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.rouble {
  font-family: 'rouble';
}