.table {
  width: 100%;
  padding: 16px 0;
  display: block;
  position: relative;

  .table_h {
    // thead

    .table_h_row {

      .table_h_row_cell {
        padding: 8px;
        color: @light-black;
        border-bottom: 1px solid @medium-gray;
        white-space: nowrap;

        &:first-child {
          padding-left: 24px;
        }
        &:last-child {
          padding-right: 24px;
          width: 1%;
          white-space: nowrap;
        }

        &.__hl {
          color: @black;
        }

        @media @hs, @xs {
          white-space: pre-wrap;

          &:first-child {
            padding-left: 16px;
          }

          &:last-child {
            padding-right: 16px;
          }
        }
      }
    }
  }

  .table_b {
    // tbody

    .table_b_row {

      .table_b_row_cell {
        color: @light-black;
        padding: 8px;
        vertical-align: top;

        &:first-child {
          padding-left: 24px;
        }
        &:last-child {
          padding-right: 24px;
        }

        &.__hl {
          color: @black;
        }

        @media @hs, @xs  {
          &:first-child {
            padding-left: 16px;
          }

          &:last-child {
            padding-right: 16px;
          }
        }
      }
    }
  }

  &.__num {
    // with numeric-status cell

    .table_h {

      .table_h_row {

        .table_h_row_cell {

          &:first-child {
            border-bottom: none;
            width: 48px;
          }
        }
      }
    }

    .table_b_row {

      .table_b_row_cell {

        .table_b_row_cell_num {
          margin: 0 8px;
          height: 48px;
          width: 48px;
          background: @medium-black;
          .border-radius(50%);
          color: @white;
          position: relative;
          text-align: center;
          line-height: 48px;
          padding: 0 4px;

          .table_b_row_cell_num_status {
            height: 20px;
            width: 20px;
            position: absolute;
            background: white;
            .border-radius(50%);
            right: -2px;
            font-size: 14px;
            bottom: -2px;
            content: " ";
            display: block;
            color: @orange;
            text-align: center;

            &:before {
              position: absolute;
              display: block;
              width: 13px;
              &:extend(.vhcenter);
              &:extend(.mic);
            }
            .table_b_row_cell_num_status_ic {
              position: absolute;
              display: block;
              &:extend(.vhcenter);
            }
          }
        }

      }

      &.__wait {
        .table_b_row_cell_num_status:before {
          &:extend(.mic-access-time:before);
          color: @orange;
        }
      }
      &.__done {
        .table_b_row_cell_num_status:before {
          &:extend(.mic-done:before);
          color: @green;
        }
      }
      &.__cancel {
        .table_b_row_cell_num_status:before {
          &:extend(.mic-cancel:before);
          color: @red;
        }
      }
    }
  }
}