h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  // display 1 (1A)
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 11px;
  color: rgba(0, 0, 0, 0.54);

  &.display2 {
    // display 2 (1B)
    font-size: 45px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  &.display3 {
    // display 3 (1C)
    font-size: 56px;
  }
  &.display4 {
    // display 4 (1D)
    font-size: 112px;
  }
}

h2 {
  // headline (2)
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 4px;
  overflow: hidden;
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.87);
}

h3 {
  // title
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
  padding-bottom: 12px;
  padding-top: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

h4 {
  // subhead (3A)
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #212121;
  margin-bottom: 8px;

  @media @md, @lg {
    font-size: 15px;
  }
}

h5 {
  // caption
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

p {
  // body (4B)
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
  line-height: 24px;
  color: #212121;
  margin: 0 0 14px;

  @media @md, @lg  {
    font-size: 15px;
  }
}

.mfont {
  // menu font
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);

  @media @md, @lg  {
    font-size: 15px;
  }
}