{% extends 'authn/base.html' %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Автоизация</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __hs __center">

        <div class="__bg __padding">
            <p>
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            </p>

            <form class="p-form" action="{{ request.get_full_path }}" method="post">
                {% include 'include/form.html' %}

                <button class="btn __raised __colored shadow-1 fr">Войти</button>
                <a class="btn fr" href="{% url 'password:reset' %}">Напомнить пароль</a>

                <div class="clearfix"></div>
            </form>
            <div class="clearfix"></div>
        </div>

        <a style="padding-top: 24px;display: block;" href="{% url 'registration:basic' %}">Создать аккаунт</a>
    </div>
    <!-- End cnt -->

{% endblock %}