{% extends 'authn/base.html' %}

{% block content %}

    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Сеанс завершен</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <div class="cnt __bg __hs __padding">

        Вы завершили сеанс работы с личным кабинетом на данном компьютере. Для
        повторного входа <a href="{% url 'authn:login' %}">воспользуйтесь
        формой</a> аутентификации.
    </div>

{% endblock %}
