{% extends 'registration/base.html' %}

{% block title %}Регистрация завершена{% endblock %}

{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Регистрация завершена</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __hs __center __bg __padding">
        <b>Поздравляем с регистрацией!</b>
        На указаную почту Вам придет инструкция по активации аккаунта.
    </div>
    <!-- End cnt -->
{% endblock %}
