{% extends 'registration/base.html' %}

{% block title %}Ваша учетная запись активированна.{% endblock %}

{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Ваша учетная запись активированна.</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __hs __center __bg __padding">
        <b>Поздравляем!</b>
        Ваша учетная запись активированна.
        <a href="{% url 'authn:login' %}">Используйте форму</a>
        для входа.
    </div>
    <!-- End cnt -->
{% endblock %}
