{% extends 'registration/base.html' %}

{% block title %}Зарегистрируйтесь{% endblock %}

{% block content %}
    <!-- Begin p-navbar -->
    <div class="p-navbar">
        <a class="p-navbar_back" href="/">
            <i class="mic-arrow-back"></i>
        </a>
        <ul class="p-navbar_t">
            <li class="p-navbar_t_i">
                <h4>Быстрая регистрация</h4>
            </li>
        </ul>
    </div>
    <!-- End p-navbar -->

    <!-- Begin cnt -->
    <div class="cnt __hs __center __bg __padding">
        <form class="p-form" action="{{ request.get_full_path }}"
              enctype="multipart/form-data"
              method="post">
            {% include 'include/form.html' %}

            <button class="btn __raised __colored shadow-1 fr">Зарегистрироваться</button>
            <a class="btn fr" href="{% url 'authn:login' %}">Есть аккаунт</a>

            <div class="clearfix"></div>
        </form>
    </div>
    <!-- End cnt -->
{% endblock %}
